[2019-05-10 01:09] ncjones commented on #1044
What is the current status with this feature? I'm happy to contribute time to implementing a POC if you can point me in the right direction. I like the idea of using tags on scenarios to define which resources they require a mutex on to execute.

[2019-05-13 11:59] vikasmis commented on #718
The simple solution for this error is npm install cucumber@1.3.3 --save-dev
then run your test ..npm test

[2019-05-14 18:30] Aaron-Pool opened #1203 "Allow us to configure process arguments for parallel instances"
I'm using [ESM](https://github.com/standard-things/esm) to avoid the hassle of babel transpilation and such. All I have to do is run the cucumber bin with `node -r esm` and everything works magically like a charm 👌

_But_, when I enable parallel mode, everything breaks, because the parallel instances have not been spawned with the same argument. Is there any way I can configure this?

[2019-05-15 23:15] Izhaki commented on #1203
Urm... ESM is [just a wrapper for babel](https://github.com/standard-things/esm/blob/master/package.json#L36).

You could use @babel/register instead (it won't transpile anything, and to be frank it's 2 minutes to get it working so seriously doubt if the extra dependency on ESM worth it):

[code]

You *might* also need [@babel/preset-env](https://babeljs.io/docs/en/babel-preset-env)

Then per [the

[2019-05-15 23:52] Aaron-Pool commented on #1203
@Izhaki  I'm not sure what gives you that impression, and I don't think it's correct. Just because he uses `babel` to build his distributable doesn't mean it's just a wrapper around babel. If you peruse the source, you'll see that isn't the case at all (unless I'm just completely mistaken). [ESM is even proposed as an alternative to babel](https://dev.to/bennypowers/you-should-be-using-esm-kn3), a

[2019-05-16 09:00] Izhaki commented on #1203
You're right! I was jumping to conclusions there.

Any luck with `--require-module`?

[2019-05-16 14:27] Andras-Marozsi commented on #997
@aslakhellesoy, I've created the above PR (#1198) to address this issue/feature request. Can you please take a look at it, or point me to someone I should contact?

[2019-05-16 15:46] Aaron-Pool commented on #1203
@Izhaki Haven't had time to mess with it just yet. Right now priority #1 for my team was just getting our BDD testing tools running, not necessarily to optimize them. But I'll try to get around to experimenting with `--require-module` sometime in the next few days. Thanks for the suggestion!

[2019-05-17 13:54] Aaron-Pool commented on #1203
@Izhaki

Ok, so I gave that a shot, and something still isn't working, but it wasn't what I was expecting.

Here's the command I'm running:

`cucumber-js --require-module esm --require setup/aliases.js --require 'features/**/*.js' --format json:output/cucumber_report.json`

And the result is that it doesn't find any of my features. I _think_ the imports and esm stuff it working. But it's difficult

[2019-05-17 15:18] Izhaki commented on #1203
That would normally give you:

[code]

That means it finds the features but not the step definitions?

The two are conflicting, can you elaborate on the issue.

---

Shot in the dark, can you try:

[code]

[2019-05-17 15:31] Aaron-Pool commented on #1203
Oh, yeah, my bad. Yes, it's the implementation it's not finding. It is finding the feature file fine, it seems.

[2019-05-17 17:13] Izhaki commented on #1203
Not really sure how I can help further.

Can you share a sample repo?

What happens if you put `console.log('whatever')` in `setup/aliases.js` (as the first line)? Do you see it?

[2019-05-17 17:49] Aaron-Pool commented on #1203
@Izhaki So, I fixed that issue, interestingly, it was the single quotes that was breaking the glob require. Looking over the docs, it looks like they're fairly inconsistent with their usage of quotes or no quotes on the glob. The "Requiring support files" doesn't use them, but all other references to a glob pattern with the `--require` flag _do_ use them. Might want to remove those. Or, if they're

[2019-05-17 19:02] Izhaki commented on #1203
In this case, I'll do some digging...

[2019-05-17 19:09] Aaron-Pool commented on #1203
Appreciate it! Would a repro repo still help? I can set one up.

[2019-05-17 19:11] Izhaki commented on #1203
Thanks for offering, but it should be rather easy to reproduce.

[2019-05-17 23:02] Izhaki commented on #1203
Right then,

So I did a quick check, and it looks like this is actually supported:

https://github.com/cucumber/cucumber-js/blob/31e51ff0a99c274151f8ef91ee96ff6d981b7ec5/src/runtime/parallel/slave.js#L54

I've also disable the auto insertion of @babel-register in the tests:

https://github.com/cucumber/cucumber-js/blob/31e51ff0a99c274151f8ef91ee96ff6d981b7ec5/features/support/hooks.js#L27-L28

mad

[2019-05-22 18:41] inavac182 opened #1204 "Error when creating cucumber.json TypeError: Cannot read property 'status' of undefined"
Hello guys,

I'm running into a weird error when running my test with nightwatch and cucumber in parallel. I'm seeing this error:

[code]

Looks like when there are certain errors during the execution of the tests, somehow this is generating this weird error that is like flaky because it happen sometimes.

In this particular case, I'm seeing these errors in the console:

[code]

And:

[code]

As I

[2019-05-22 21:38] inavac182 commented on #1204
I'm getting this error also when the global timeout is reached:

[code]

[2019-05-23 16:01] vBrestkin commented on #1038
We need this feature very much!!!

[2019-05-23 19:19] leonardonelson91 commented on #997
any updates? looking forward to have it as well :)

[2019-05-26 23:39] mgonnet commented on #1200
I think this was resolved in this PR: #1162
Thanks @charlierudolph for merging!!

[2019-05-29 15:07] Aaron-Pool commented on #1203
@Izhaki I apologize this took  me so long to setup. I got distracted.

[Here's](https://github.com/Aaron-Pool/cukeRepro) a minimal repro though!

[2019-05-29 16:21] inavac182 commented on #1204
Any update on this?

[2019-05-29 20:25] inavac182 commented on #1204
I was running the tests without parallel flag and got this error in the console:
[code]

and then the execution was stopped.

[code]

[2019-05-29 23:55] inavac182 commented on #1204
After more investigation I'm closing this issue because I found that the issue is how we are implementing the async and await in our code, we were messing with async/await in callbacks that didn't need it and that was breaking the execution.

Example what we were doing wrong:

[code]

and this is how it should be (or how it doesn't break):
[code]
When we do the async/await in callback something ha

[2019-05-29 23:55] #1204 closed

[2019-05-30 14:55] #1200 closed

[2019-06-02 13:02] ranjprashant opened #1206 "Allow users to send any argument using CLI"
Right now only given options we can pass from CLI
-v, --version
-b, --backtrace
-d, --dry-run
--exit
--fail-fast
-f, --format <TYPE[:PATH]>
--format-options <JSON>
--i18n-keywords <ISO 639-1>
--i18n-languages
--language <ISO 639-1>
--name <REGEXP>
--no-strict
--order <TYPE[:SEED]>
-p, --profile <NAME>
--parallel <NUMBER_OF_SLAVES>
-r, --require <GLOB|DIR|FILE>
--require-module <NODE_MODULE>
--worl

[2019-06-04 06:13] schavaLogi opened #1207 "Can we use with Mocha framework"
Is there any way we can use with the mocha framework so that we can avoid complete re-write of existed test cases

[2019-06-04 16:31] Izhaki commented on #1207
The short answer is *no*.

Mocha is a test runner, and so is this project.

In cucumber there's a separation between the specs (everyday language used to describe how the system should behave) and the tests (executable code to ensure the specs are met). Whereas in Mocha the two are fused together in the form `it(spec, test)`.

Cucumber uses explicit Given/When/Then, where as in mocha the setup cod

[2019-06-04 16:31] #1207 closed

[2019-06-04 16:44] Aaron-Pool commented on #1203
@Izhaki had any time to look at this? Obviously understand if you haven't, given that I took 12 days to make a reproduction repo, but just wanted to ping you to make sure it hadn't gotten lost in the clutter.

[2019-06-10 10:56] robert-fahey commented on #727
This needs to be merged into Master, this isn't closed.

[2019-06-11 09:28] mwyld commented on #1146
Is this something that can be fixed? this issue knocked me out for a few hours yesterday as the error is misleading and its a pain not being able to use `NPM link`

[2019-06-12 12:39] ricardgarcia commented on #727
How can I run the retry feature when running tests?

[2019-06-13 22:19] Srutherford2407 commented on #1120
Is there not currently a way to "wrap" the steps? I am trying to use cucumber-js with another ui automation tool while creating clean code. I am trying to create the client running in another file so I don't have to declare with every given.

my .js file:
[code]
My init.js:
[code]

[2019-06-15 04:56] charlierudolph commented on #1206
What is the use case for needing those options? What would they be used for?

[2019-06-16 05:27] troddyn commented on #1206
It seems like using environment variables would be a better solution than allowing arbitrary CLI arguments. It would look like:

`OS=win10 ./cucumber-js features`

You can reference them in your tests like any other envvar:

`let operatingSystem = process.env.OS || defaultValue`

[2019-06-19 01:02] melibe23 commented on #1166
Hey, I am having the same issue and I have version 10 of node, the latest.... How can I fix? I would prefer not to touch cucumber, but if it is the only workaround, could you please, tell me exactly where should I change to ' global._stackChain.version = '1.3.7'; '

Thanks!

[2019-06-19 06:40] Abhishekwalvekar commented on #1105
how will i use this in examples - Email should be in the format of "first_name.last_name@company.com"

[2019-06-19 09:00] Izhaki commented on #1206
Programs can only handle arguments they expect and are meaningful to them. There is schema checks, validity checks etc. that the program needs to perform and it can only do so for its own arguments.

If you need to pass on arguments to the process being tests, either configure it explicitly in your tests, or use ENVIRONMENT variables.

That's how its done everywhere else.

[2019-06-19 09:00] #1206 closed

[2019-06-19 10:48] jain-neeeraj commented on #1144
@stavalfi have you tried upgrading cucumber js? as per documentation shared by @charlierudolph this issue might be caused by old version of cucumber js

[2019-06-20 09:21] chnmdey1 opened #1208 "Is it possible to put the count for Manual test case inside scenarios tiles on the html report."
Describe your question with as much detail as possible
I want to post the count for manual test cases separately inside Scenario tiles. Currently, every test cases which are unable have an output is considered as skipped. My feature files contains certain features which I cannot automate. I want to put that count as under separate entity inside the tile Scenarios in our report.

I am aware I will

[2019-06-20 09:27] chnmdey1 commented on #1208
This is possible in BDD Serenity report, by just adding a tag ----- @Manual on the manual scenarios. Can we do the same in this report too?

[2019-06-20 15:00] stavalfi commented on #1144
no... 'm closing this issue because I'm not using cucumber (now)

[2019-06-20 15:00] #1144 closed

[2019-06-21 13:03] CharlesW513 opened #1209 "Parallel processes do not inherit environment variables from parent process / command"
Environment:
MacOS
Cucumber 5.1.0

[2019-06-24 09:55] CharlesW513 commented on #1209
Issue seems unrelated to cucumberjs

[2019-06-24 09:55] #1209 closed

[2019-06-24 12:32] CharlesW513 opened #1210 "Can --parallel be used to run features in parallel instead of scenarios?"

[2019-06-27 14:20] CharlesW513 opened #1212 "An env variable that contains the path to the scenario that is being run?"
I can't seem to find any environment variables that specify the path / uri of the scenario that is being run during the parallel test execution. Does this exist?

[2019-06-28 05:40] charlierudolph commented on #1210
Nope. You may be interested in the issue #1044. Also please use the support forums (see README) for questions like this

[2019-06-28 05:40] #1210 closed

[2019-06-28 05:42] charlierudolph commented on #1212
No. Regardless of parallel / sequential you could access the current scenario as the argument passed to the before / after hook: https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/api_reference.md. Again, please use the support forums for questions.

[2019-06-28 05:42] #1212 closed

[2019-07-01 04:33] individual-it commented on #727
@ricardgarcia just use the `--retry` option see https://github.com/owncloud/phoenix/pull/1207/files
We are using the branch from my PR here https://github.com/cucumber/cucumber-js/pull/1205 till it get merged hopefully one day

[2019-07-01 06:33] ricardgarcia commented on #727
Hi @individual-it , many thanks for the reply. Should it work if I'm using webdriverIO to run my tests on cucumber-js?
I've tried the "--retry 1" command but no retries are being done.

[2019-07-01 06:39] jain-neeeraj commented on #727
@ricardgarcia As described in https://github.com/cucumber/cucumber-js/pull/1205,  to use this function you can use

` "cucumber": "cucumber/cucumber-js#issue-727-retry" `

as the changes are not yet merged in the main cucumber repo.

[2019-07-01 07:02] ricardgarcia commented on #727
Yes @jain-neeeraj I've used this version in the package.json and it did not work, but as I mentioned I'm running tests using cucumber on webdriverIO, so the following framework "wdio-cucumber-framework". Should it work somehow? How do I run the tests in order to have a retry if I use cucumber-js framework?

[2019-07-01 07:10] jain-neeeraj commented on #727
@ricardgarcia let collaborate at gitter https://gitter.im/cucumber/cucumber-js, I should be able to help you in solving this issue.

[2019-07-09 07:53] nikolaas opened #1215 "Summary and JSON formatters do not localize the scenario's keyword"
Hello!

I am trying to write cucumber's tests with Russian localization. I found that summary and JSON formatters do not localize the scenario's keyword.

## Steps to reproduce

1. Clone the example repository:
[code]
2. Install dependencies:
[code]
3. Run cucumber's tests with the summary formatter:
[code]
4. Run cucumber's tests with the JSON formatter:
[code]

## Expected result

I expect the f

[2019-07-10 12:26] arifkhanaj commented on #718
I ran into same problem "Cucumber Step definitions were not recognised". Changing the directory name from "steps" to "step_definitions" worked for me.

I am seeing mostly people have step_definitions under features directory, i believe a better practice is to have the steps implementation in a separate directory i.e. src/step_definitions instead of keeping the steps under features directory.

[2019-07-16 01:03] loganvolkers commented on #1116
That's right. There are [open issues on the TestCafe tracker](https://github.com/DevExpress/testcafe/issues/2835) for this, and their [team is aware and planning to implement better support.](https://github.com/DevExpress/testcafe/issues/1373#issuecomment-502581364)

In the meantime, there are some other projects that can help make this better: https://github.com/bhreinb/SYSTAC

[2019-07-16 01:03] #1116 closed

[2019-07-18 12:06] fescobar commented on #997
I see 2 PRs @leonardonelson91
I think they didn't find the best way to implement this feature
https://github.com/cucumber/cucumber-js/pull/1198
https://github.com/cucumber/cucumber-js/pull/1058

[2019-07-18 16:53] djom20 opened #1217 "Is possible to add more validation to dry-run mode?"
Hi,

I'd like to add a validation as verify that the features has only one Given, When and Then in the features and in the middle just have And. Is possible to customize it?

Thanks

[2019-07-23 10:09] ramaaneel opened #1218 "Multiple step definitions match Error"
Hello,

I am having one feature file which is having a same step definition string text. During execution I got an error
Multiple step definitions match:
         I'm on {string} - test\spec\amazon_spec.js:46
         I'm on {string} - test\spec\amazon_spec.js:86

I already worked on jasmine framework & it's handling this kind of things. So the same thing (Step with same name) possible here in cuc

[2019-07-24 08:34] Carmot commented on #1218
No it isn't here in cucumberjs, you have to make them different in some way in order to differentiate them otherwise you'll get this error message. The same happened to me in the past when adding my own step and it was already defined.

[2019-07-24 09:00] ramaaneel commented on #1218
Ok mate. Thank you for the update. Cheers

[2019-07-30 03:19] #1218 closed

[2019-08-01 08:55] PingleSneha commented on #1176
@robintyagi12  - how did you resulve this issue, i am facing the same problem with 4.5.4 version

[2019-08-01 09:02] robintyagi12 commented on #1176
You are facing this issue because in your pom, you would have mixed direct
and transitive dependencies which causes different unpredictable outcome
and one of them which you are facing.

On Thu, 1 Aug, 2019, 2:25 PM Sneha Pingle, <notifications@github.com> wrote:

[2019-08-02 14:44] iongion commented on #1004
This issue re-emerged for us today also due to integration with other runners.
The case for having an API is still very valid.
Any plans on it ?

[2019-08-06 02:01] x80486 commented on #1139
Any updates on this one?

I'm also [trying to setup something similar](https://github.com/x80486/cucumber-typescript/), and while it works for the most part, I [still have some issues](https://stackoverflow.com/questions/57343544/typescript-module-resolution-doesnt-quite-work-with-cucumber-js/) when using `tsconfig-paths`...it keeps saying that `TypeError: cucumber_1.Before is not a function`.

Fu

[2019-08-12 17:19] sebastianqdot opened #1220 "Any way to get a list of all features and scenarios?"
I'm resorting to this channel as I'm not able to log in through slack (endless spinner when trying to connect to cucumber's slack)

Is there any way to get a nested list (or at least a list) of all features/scenarios and then pipe it into another process. Say, run `cucumber-js --get-scenarios` and that will return a JSON with the expected results.

I've tried with `--dry-run` but it's failing, I'm

[2019-08-12 20:53] rayk47 commented on #1220
Yes. Take a look at the helpers https://github.com/cucumber/cucumber-js/blob/master/src/cli/helpers.js I'm thinking getTestCasesFromFilesystem is what you are looking for.

[2019-08-12 21:38] sebastianqdot commented on #1220
Quite a life saver, thanks!

[2019-08-12 21:38] #1220 closed

[2019-08-14 07:36] alexandrchumakin commented on #1153
I have the same problem: I need to execute some API calls to prepare some data in hook that I want to reuse for all tests that I run in parallel. But with current implementation each node execute the same hook that I really need to avoid.

[2019-08-14 21:06] oshnix opened #1221 "defineParameterType fails with internal error"
## Description
I am trying to use `defineParameterType` in my project with typescript and cypress-cucumber. It is being declared just before steps definition. However, I get the following error:

[code]
I am able to reproduce it on a number of last versions and even with the simplest project and using defineSupportCode too.

## Steps to reproduce
* Create new project
* run `npm install cucumber`
*

[2019-08-17 20:58] charlierudolph commented on #1221
Cucumber support files are meant to be loaded by the cucumber CLI and not manually.

That is erroring because this [line](https://github.com/cucumber/cucumber-js/blob/7a5fdcbbb65c1160c5848a8b0aab3e48a31db40b/src/cli/index.js#L72) which gets called as part of the CLI execution has not been run.

How are you trying to execute your test suite?

[2019-08-17 21:12] charlierudolph commented on #1153
It would be possible to have the master run the beforeAll but then nothing thats set up can be shared with any of the slaves as they currently run in another process.

We could potentially do something like the following: the master executes beforeAll and the upon spawning the slaves passes it some user configured data that are made available in some way. Would that solve the issue?

I'm not sure

[2019-08-18 20:56] oshnix commented on #1221
I am using [parser for cypress](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor) and trying to call `defineParameterType` before definition of steps like given, when and then.
I do understand that the problem occurs somewhere in this library or it's just me calling this function from the unappropriate place. I am going to move my definitions and try one more time.

[2019-08-18 20:56] #1221 closed

[2019-08-19 08:36] fragsalat opened #1222 "Cucumber + Babel = Syntax Error"
Hey there,

I've tried to use cucumber with babel 7 but were not successful.
The command I've used (based from the docs and google) requires the module @babel/register but that seem to have not the effect I intended.
[code]

My application is for sure written in modern javascript and my tests as well. Like described in the docs I'm importing After, Before, Given etc from the cucumber package. Runn

[2019-08-19 10:16] Izhaki commented on #1222
What does your `.babelrc` look like?

Mine:
[code]

[2019-08-19 13:02] fragsalat commented on #1222
Meh ok looks like that's the issue. **Cucumber seem to require nodejs target** and my babelrc was by default on browsers. Now it seem to bootstrap properly even though I'm getting errors during bootstrap.
Thank you mate and sorry for disturbing :)

[2019-08-19 13:02] #1222 closed

[2019-08-21 23:16] devniel commented on #1135
Hi,

I got the same problem when using this regexp:

`/^I edit the content of the first goal by changing it to (?:"(.*)"|'(.*)').$/`

Thanks.

[2019-08-21 23:31] aslakhellesoy commented on #1181
Yeah, fixed in https://github.com/cucumber/cucumber/blob/master/cucumber-expressions/CHANGELOG.md#610---2018-09-23

[2019-08-21 23:31] #1181 closed

[2019-08-21 23:31] aslakhellesoy opened #1224 "Upgrade to cucumber-expressions 8.0.0"
That should fix https://github.com/cucumber/cucumber/issues/685

[2019-08-22 14:42] DeepTom opened #1226 "How to use external data file (for example a json file) for scenario outline for iterate over a scenario"

[2019-08-22 14:46] Izhaki commented on #1226
This is a question not an issue report.

Please you https://stackoverflow.com for questions, and the tag them with the `cucumberjs` tag.

https://stackoverflow.com/questions/tagged/cucumberjs

[2019-08-22 14:46] #1226 closed

[2019-08-28 12:42] dylannnn opened #1230 "Warning when install cumber@^5.1.0"
When I install cucumber, I got these warning below:

[WARNING] npm WARN deprecated @babel/polyfill@7.4.4: 🚨 As of Babel 7.4.0, this
[WARNING] npm WARN deprecated package has been deprecated in favor of directly
[WARNING] npm WARN deprecated including core-js/stable (to polyfill ECMAScript
[WARNING] npm WARN deprecated features) and regenerator-runtime/runtime
[WARNING] npm WARN deprecated (needed

[2019-08-30 16:38] hardvolk commented on #727
@charlierudolph any chance this could be merged into master?

[2019-09-02 20:34] charlierudolph commented on #1224
@aslakhellesoy tested this out and hit an error on node 8:

<img width="998" alt="Screen Shot 2019-09-02 at 1 33 43 PM" src="https://user-images.githubusercontent.com/1676758/64132670-55c81b00-cd86-11e9-9e52-43a1a1abb26d.png">

No issues on node 10 / 12

[2019-09-06 13:29] Izhaki commented on #1130
@charlierudolph Not opening a new issue as could be a slip of tongue.

But in `time.js` we get the time like this: `Date().getTime()`. This returns *milliseconds*.

milliseconds * 1000000 = picoseconds.

I've got a report where the execution time for a step is `4385000000`. If this is indeed in nanoseconds, that that's 4385 second, which is 73 minutes.

This `4385000000` figure is obviously pico s

[2019-09-09 01:02] devniel commented on #1178
Hi @charlierudolph,

What class or method of cucumber can be used to extract the steps from a `.steps.js` file?, it could help me on a generator that I'm building that will check a `.feature` file and only will generate steps that are missing or not yet implemented on the `step_definitions` folder.

Thanks!

[2019-09-16 17:48] fergadipa commented on #1144
does it work on you? can you give the example?

[2019-09-16 18:27] fergadipa opened #1231 "--parallel <number_of_slaves> produces bind() failed: Address already in use (98)"
Cucumber version : 5.1.0
Node : 10.14.1
OS : Ubuntu 18

Hi, I've just upgrade to nightwatch-api which using cucumber-js. So for now the runner is using cucumber-js and I'm trying to run my tests parallel but I found this output when I gave number_of_slaves more than 1

This is the command that I run :
`cucumber-js --parallel 2 --require-module babel-core/register --require cucumber.conf.js --requi

[2019-09-16 18:42] fergadipa commented on #1231
So I just found that --parallel works on selenoid on the server but it produces bind() failed: Address already in use (98) on my local.

[2019-09-16 18:42] #1231 closed

[2019-09-17 03:42] charlierudolph commented on #1130
Just looked this up and:

Millisecond is 1/10^3
Microsecond is 1/10^6
Nanosecond is 1/10^9
Picosecond is 1/10^12

Thus millisecond * 10^6 is nanoseconds and 4385000000 in nanoseconds is 4.385 seconds

[2019-09-17 03:45] charlierudolph commented on #1144
Our windows CI recently started breaking with regards to parallel but I got it working again by switching internals. The next cucumber release may fix this.

[2019-09-17 08:29] Izhaki commented on #1130
@charlierudolph That is only correct if you live on earth.

If you, like me, lives in La-La-Land, than we don't use microseconds here - we go straight from milliseconds to nanoseconds!

I have NO idea how this happened. But at least we're double-sure it's nanoseconds alright.

[2019-09-20 12:22] fider opened #1232 "New Feature: sub steps"
**Feature description:**
Possibility to define substeps, eg:

**How it is currently:**
[code]
[code]
[code]

**How it may looks like:**
[code]
[code]
[code]
We can also resue substeps in feature files
[code]

**Example html report:**
Each step that contains substeps can contain folding/unfolding button (just like featrue and scenario).
![image](https://user-images.githubusercontent.com/1457742/653

[2019-09-20 13:34] marnen commented on #1232
If I had to do something like this in cucumber-ruby, I might use the `steps` method, which allows running arbitrary Gherkin:

[code]

I assume cucumber-js has something similar (but I can’t find the full API docs to confirm). Will that do the trick for you?

[2019-09-20 17:23] pmarflee opened #1233 "Can't get step definition to match when step contains nested literal parentheses"
I have the following scenario:
[code]
And the following step definitions (TypeScript):

[code]

When I run the tests, I receive the following warning:
[code]

The `Given` step defintion is not being matched but the `Then` step is, despite the opening parentheses being escaped in the same way.  My guess is that the nested parentheses in the `Given` step is causing the problem.  Is there a workaroun

[2019-09-24 10:05] aslakhellesoy commented on #1232
This used to be implemented in Cucumber-JVM, and we removed it. We'll remove it from cucumber-ruby too. We will not be adding it to Cucumber-js.

All programming languages have a built-in mechanism for reusing code - _methods_ or _functions_. We should use this mechanism rather than inventing our own. Methods/functions have good stack traces (a homegrown solution does not). Methods/functions can b

[2019-09-24 10:05] #1232 closed

[2019-10-02 21:38] charlierudolph commented on #1164
Believe this is fixed in dfe69ede6bd05a58cfa226dbb0600e7f65bdf073. Will try to verify on windows 10

[2019-10-02 21:40] charlierudolph commented on #1169
Believe this is fixed when we upgraded to cucumber-expressions v7 in 7dc2eff534716f1a86452e1c694ee2133bc065ef. Will comment back once this is released. May be worth adding a test for this

[2019-10-02 21:51] charlierudolph commented on #1230
Thanks for reporting.
Appears we can remove @babel/polyfill as its no longer needed for the versions of node we support. Will make a PR to remove it

[2019-10-02 22:02] charlierudolph commented on #1230
Fixed in c3bbfb5256f21150122105930ae6a6494f41807b. Will close once version 6 is released

[2019-10-02 22:03] charlierudolph commented on #1224
Going to close this and open an issue in cucumber that we need cucumber-expressions to support node 8

[2019-10-02 22:03] #1224 closed

[2019-10-02 22:18] charlierudolph commented on #1217
Sorry don't think that is something we want to implement as part of dry run mode, as its something very different. Sounds like something that would be part of a feature file linter.

[2019-10-02 22:18] #1217 closed

[2019-10-02 22:35] charlierudolph commented on #1208
It appears your issue should be opened here: https://github.com/wswebcreation/multiple-cucumber-html-reporter#readme

This repo is for cucumber-js only and not multiple-cucumber-html-reporter which is a different library that integrates with cucumber-js

[2019-10-02 22:35] #1208 closed

[2019-10-02 22:38] charlierudolph commented on #1178
You can run `cucumber-js --dry-run --format usage-json` (--dry-run causes cucumber-js to not actually run steps) and that will output a json string of the definitions that exist and where they are used.

[2019-10-02 22:44] charlierudolph commented on #1146
Appears you found a workaround. This isn't something that cucumber supports or has documentation around. As you probably found the hard part is making sure the external library and the main project are using the same instance of cucumber.

I'd suggest the external library not directly import cucumber. Would probably be better to have the external library have an API of a function that is passed cu

[2019-10-02 22:44] #1146 closed

[2019-10-02 22:45] charlierudolph commented on #1185
Sorry didn't respond to this. This should definitely be something that is done post-processing

[2019-10-02 22:45] #1185 closed

[2019-10-02 22:56] charlierudolph commented on #1233
Thanks for the thorough writeup. Don't think there is a current workaround. Will open an issue in cucumber-expressions.

[2019-10-02 23:14] charlierudolph commented on #1087
Appears this is a bit old. Communication between master and slave was moved away from stdout. Appears still had some issues with pipe. See #1164. Going to close this as a duplicate of that. Expecting fix to be released in v6.

[2019-10-02 23:14] #1087 closed

[2019-10-02 23:23] charlierudolph commented on #1117
The gherkin project went through some big changes. This has been fixed but having issues upgrading to the latest version. Created some issues on that project.

[2019-10-02 23:24] #1174 closed

[2019-10-02 23:27] charlierudolph commented on #1007
Closing as not planning on deprecating anymore but there will be some big changes coming as part of the implementation of retry. We'll start fresh and build up requirements. It will essentially be a collated version of the event protocol formatter

[2019-10-02 23:27] #1007 closed

[2019-10-04 09:54] rajeshwarp opened #1235 "Regular Expression/recursive wildcard /** in Step definition path not working"
Greetings !

We are using serenity-js 2.0 which uses  Cucumber as one of the dependencies.  /** is not resolved when used in path to step_definitions.

Wondering if its an issues with Cucumber-JS  or we are missing something.
We are using "cucumber": "^1.3.3" as dependency.

Switched to this version as latest version was not generating Unimplemented Steps Definitions structure for us. Any directio

[2019-10-04 23:33] charlierudolph commented on #1235
v4.0 had a breaking change around how transpilers work. See the latest documentation [here]( https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md#transpilation)

In the future please review the [chagelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) as it documents what breaking changes come with each major version

[2019-10-04 23:33] #1235 closed

[2019-10-06 14:41] charlierudolph commented on #1230
Just released version 6. Please comment if this isn't resolved after updating

[2019-10-06 14:41] #1230 closed

[2019-10-06 14:42] charlierudolph commented on #1178
Just released version 6. Please comment if this isn't resolved after updating

[2019-10-06 14:42] #1178 closed

[2019-10-06 14:42] charlierudolph commented on #1169
Just released version 6. Please comment if this isn't resolved after updating

[2019-10-06 14:42] #1169 closed

[2019-10-06 14:42] charlierudolph commented on #1164
Just released version 6. Please comment if this isn't resolved after updating

[2019-10-06 14:42] #1164 closed

[2019-10-06 15:58] bingnz opened #1236 "Release 6.0.0 has invalid entry for "main" in package.json."
Greenkeeper has highlighted that the latest release package seems to be invalid (see https://github.com/bingnz/cucumber-teamcity-formatter/pull/50).
In version 6.0.0, the "main" entry points to `./lib/index`, but the "lib" directory no longer exists in the package.

[2019-10-06 17:21] charlierudolph commented on #1236
Thanks for the report. Had a bad publish locally. Just published 6.0.1 and confirmed it has the lib folder

[2019-10-06 17:21] #1236 closed

[2019-10-07 13:28] oprogramador opened #1237 "5->6 migration guide"
Could you publish a migration guide explaining how to upgrade `cucumber` from `v5` to `v6`?

My tests passed but I'd like to ensure everything is OK.

[2019-10-07 13:39] yasserf commented on #1237
There seems to be a big change where previously arguments undefined using a regex would be passed in as undefined but now it's null

Also running install twice breaks due to expressions being a git repo

[code]

[2019-10-07 13:41] yasserf opened #1238 "cucumer-expressions fails on multiple installs"
Upgrading from 5 to 6 resulted in npm install failing after the first run

[code]

[2019-10-07 13:42] yasserf commented on #1238
You can replicate by

[code]

[2019-10-07 14:30] charlierudolph commented on #1237
As the [CHANGELOG.md](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) notes, there are very few breaking changes. The main one is dropping support for Node 6 and the others only effect custom parsing of json / event protocol formatters / custom formatters.

[2019-10-07 14:32] charlierudolph commented on #1238
Hmm interesting. Yep I'm seeing the ".git" folder in that install. Oddly yarn does not the error. Will open an issue on cucumber-expressions

[2019-10-07 15:17] oprogramador commented on #1237
thanks @charlierudolph

[2019-10-07 15:17] #1237 closed

[2019-10-07 20:59] aslakhellesoy commented on #1238
I'm not sure how this happened! Until we've fixed this, adding `"cucumber-expressions": "7.0.1"` to `package.json` seems to work.

As for a more permanent fix we can either release `cucumber-expressions 7.0.3` (and make sure that `.git` folder is excluded), or we could make a patch-release of `cucumber` where we upgrade to `cucumber-expressions 8.x`.

The latter would be my preference, since the `

[2019-10-08 03:39] #1238 closed

[2019-10-08 03:41] charlierudolph commented on #1238
Thanks making a release with this now

[2019-10-08 19:13] fahimbinkhair commented on #882
fahimu@fahimu-HP-ProBook-430-G5:~/Documents/optimus$ docker run epiclabs/e2e-test-runner
webdriver-manager: using local installed version 12.0.6
[19:12:40] I/update - chromedriver: unzipping chromedriver_2.46.zip
[19:12:40] I/update - chromedriver: setting permissions to 0755 for /src/node_modules/webdriver-manager/selenium/chromedriver_2.46
[19:12:44] I/update - geckodriver: unzipping geckodriver

[2019-10-08 23:00] davidjgoss commented on #997
@charlierudolph do you have a view on whether the functions registered against `BeforeStep` and `AfterStep` should still be run if the step times out?

Like a few others here, I'm using `setDefinitionFunctionWrapper` to achieve the screenshots thing, which works great except I have no way in for when test steps time out - the best I can do is provide a shorter timeout to the browser instrumentatio

[2019-10-09 05:08] charlierudolph commented on #997
I would expect that BeforeStep / AfterStep will run no matter what regardless whether a step passes / fails (due to a timeout or otherwise)

[2019-10-09 19:02] jbblanchet opened #1241 "Empty strings params trip parsing in v6+"
Repro in: https://github.com/jbblanchet/cucumber-error

Test `Given string "" equals ""` will crash with
[code]

because the string is `undefined`, and not empty, and the code attempts to do `undefined.replace`. Not sure if the fix would be to parse the empty string as an empty string, to to check for undefined in cucumber-expressions. Also not sure this was the right repo to open the issue.

[2019-10-10 03:27] charlierudolph commented on #1241
Interesting. Yep appears to be a bug. Will open an issue on cucumber-expressions (which lives in the cucumber monorepo)

[2019-10-15 10:47] znevrly commented on #1153
"Would that solve the issue?" Yes, that could be solution. It would be great to see it in next major version.
Thank you.

[2019-10-15 22:58] jan-molak opened #1242 "Please ignore"

[2019-10-15 23:04] jan-molak commented on #1242
OK, just realised that this is a stupid idea.

[2019-10-15 23:04] #1242 closed

[2019-10-16 18:11] canvaspixels opened #1243 "stepDefinitionConfigs from within require'd files"
Is it possible to get a list of the already added step definitions from the last file in the require array.

I believe I need access to this.options.stepDefinitionConfigs.

Any help appreciated.

[2019-10-16 23:43] #1243 closed

[2019-10-22 15:54] aslakhellesoy opened #1244 "Restore old JSON format in 6.x"
The 6.0.0 release is not usable by teams using 3rd party tools to process the output from the JSON formatter.

I'm not sure what was the motivation behind the change, or what exactly changed.

Could we restore the behaviour of the 5.x JSON formatter in 6.1.0?

Ultimately we should drop the native JSON formatter, implement a `protobuf` formatter (like [the one in Cucumber-JVM](https://github.com/cu

[2019-10-23 02:02] charlierudolph commented on #1244
A lot of changes were made (links to new format are in the changelog). The new version is meant to be essentially a json format for all the protobuf data that can be used to easily generate a pretty format. cucumber-js uses the same code that produces the objects in the json formatter for printing errors in pretty format.

The main reason for the changes was that I didn't see any good way to fit i

[2019-10-23 14:32] Phonesis opened #1245 "Scenario result exception is not available in HookScenarioResult"
Not sure if this is by design (can't imagine it would be) but the exception for failing Scenarios is not currently available as part of the HookScenarioResult object.

I have tried this:

[code]

The problem appears to be that the HookScenarioResult object the After hook HookCode object does not have the exception as part of the interface:

[code]

I have fixed it locally by simply adding it:

[co

[2019-10-23 15:43] charlierudolph commented on #1245
Are you saying the issue is with the type definitions? Those don't currently live in this repo

[2019-10-23 15:46] charlierudolph commented on #1244
Okay. I'm fine removing the new version but think it will be useful to have a new json formatter down the road so that we can easily get people off the legacy json formatter without making them parse the protobuf formatter output

[2019-10-23 16:10] aslakhellesoy commented on #1244
People who rely on tools that parse the legacy JSON format will be able to do this:

[code]

This way we only need to maintain a single JSON formatter (the Go one). It's already done:
* https://github.com/cucumber/cucumber/tree/master/json-formatter
* https://github.com/cucumber/cucumber/releases/tag/json-formatter%2Fv2.0.0

We just need to implement a `protobuf` formatter.

Do you still think we

[2019-10-23 16:41] Phonesis commented on #1245
I see. Well I believe so. The fix seems to be adding  the exception line to the ScenarioResult interface

[2019-10-23 17:17] aslakhellesoy commented on #1245
How is your apetite for TyopeScript @charlierudolph? I've migrated all the JavaScript code in the cucumber/cucumber monorepo to TypeScript and I really like it. I'd love to port Cucumber.js over too - happy to do the heavy lifting.

[2019-10-24 04:52] charlierudolph commented on #1244
No, I'm fine with a single json formatter but just think we probably want to have a non-legacy one too.

[2019-10-24 04:54] charlierudolph commented on #1245
I was planning on updating cucumber-js to typescript as part of upgrading to the newest gherkin. However, would prefer to have this in first so have first class support for retry: https://github.com/cucumber/cucumber/pull/722 versus managing

[2019-10-24 05:53] aslakhellesoy commented on #1244
What do you mean by non-legacy one?

[2019-10-24 05:54] aslakhellesoy commented on #1245
Glad to hear it!

[2019-10-24 18:22] davidjgoss commented on #1245
@charlierudolph I would be happy to help out with legwork here if you'd like - I've done a couple of migrations to TS recently

[2019-10-25 14:48] jbblanchet commented on #1241
@charlierudolph thanks for filing the bug there, I wasn't sure where it needed to be :smile:

I noticed a fix was merged 9 days ago in the monorepo. Is there any plans to do a release? This is blocking our migration to v6.

Thanks

[2019-10-26 22:38] Larry100a opened #1246 "Unable to generate report after upgrading to Cucumberjs 6.0.2"
Cucumberjs version: 6.0.2
Cucumber-html-reporter version: 5.0.2

I'm currently using this approach to generate html reports after a cucumber test run:

[code]

This used to work on cucumberjs 5.1.0. But when I upgraded to cucumberjs 6.0.2, the html reports are no longer generated. Is there a workaround?

[2019-10-27 04:13] rayk47 opened #1247 "Ability to communicate and store data from the slave nodes to the master node"
### Description:
The ability to store data and communicate in the master node from the slave node when running tests in parallel.

### Use case:
`
    Scenario Outline: I add an activity for a user
        Given I login as user "<userName>"
        And I create a user new user with the following details:
            | name | email         | userType |
            | test | test@test.com | athlete

[2019-10-27 23:10] charlierudolph commented on #1244
I understand us supporting the old JSON formatter but am curious if its worth building a new one at some point

Done in release 6.0.3.

[2019-10-27 23:10] #1244 closed

[2019-10-27 23:13] charlierudolph commented on #1246
The JSON formatter had breaking changes but those were with reverted with 6.0.3 that was just released. Please try upgrading to that.

[2019-10-28 00:34] Larry100a commented on #1246
Thanks, that worked

[2019-10-28 00:34] #1246 closed

[2019-10-28 10:25] RobertDiebels commented on #1004
Also encountering this. Currently building a e2e-testing framework. I'd like to test this framework. To do this I'd prefer to have API access to the runtime. Some classes are being exposed though they're undocumented, not defined in the Typescript definitions file. This leave me with the impression that the classes, even-though they're exposed, are not to be used for production.

If someone could

[2019-10-28 12:41] Gerb81 commented on #1241
6.0.3 was released, but it still gives me the same error

[2019-10-28 13:11] aslakhellesoy commented on #1241
@Gerb81 it will be included in the next release of cucumber-expressions: https://github.com/cucumber/cucumber/blob/master/cucumber-expressions/CHANGELOG.md

[2019-10-28 13:46] aslakhellesoy commented on #1241
@Gerb81 I just released cucumber-expressions 8.0.2. Can you try again? (If you have a `yarn.lock` or `package-lock.json` pinning to `8.0.1` you'll have to `yarn upgrade --latest` or similar).

[2019-10-28 13:59] Gerb81 commented on #1241
@aslakhellesoy it worked, thank you!

[2019-10-30 17:48] mkelliher opened #1248 "World is not re-constructed after each scenario attempt"
I have noticed when using the `--retry` option, the world instance is reused for each retry attempt of a failing scenario. I cannot find any indication of the desired behavior anywhere in the docs. My expectation was that each scenario attempt would be isolated from previous attempts.

## Environment

**Cucumber Version:** 6.0.3
**Node Version:** 10.15.3
**Operating System:** Debian GNU/Linux 9 (s

[2019-10-31 11:49] aslakhellesoy opened #1249 "Deprecate JSON formatter"
The JSON formatter is implemented in cucumber.js, cucumber-ruby and cucumber-jvm. It's become the defacto standard for machine-readable output from Cucumber, but it has several flaws:

* There is no schema for the output, so different platforms implement it inconsistently, causing problems for consumers
* It sometimes causes out of memory problems for large suites
* It does a poor job at represent

[2019-10-31 11:53] aslakhellesoy opened #1250 "Remove JSON formatter"
As described in #1249 the plan is to deprecate the `json` formatter in version 7. In version 8 we should remove it.

After the removal people can still generate JSON reports with the standalone [json formatter](https://github.com/cucumber/cucumber/tree/master/json-formatter). There are prebuilt [executables](https://github.com/cucumber/cucumber/releases/tag/json-formatter%2Fv2.0.0) that will conve

[2019-11-04 11:36] FibreFoX commented on #1241
@jbblanchet Can you check if this issue can get closed?

[2019-11-04 11:40] jbblanchet commented on #1241
@FibreFoX sure. Didn't know you were waiting for me. I'll upgrade cucumber this morning and will let you know.

[2019-11-04 12:03] jbblanchet commented on #1241
@FibreFoX It works with an caveat. If I ensure my cucumber-expressions is ^8.1.0 it'll work, but cucumber@6.0.3 is still only asking for cucumber-expressions ^8.0.1, which still has the bug. So with lockfiles, it's possible to still get the problem. For this issue to be truly closed, I think a 6.0.4 release that asks for the patched dependency would be preferable.

[2019-11-04 12:03] #1241 closed

[2019-11-04 15:50] davidjgoss commented on #1241
Opened a PR to explicitly update the dependency here.

[2019-11-06 16:54] davidjgoss commented on #1245
@Phonesis if you install the latest `@types/cucumber` package from npm you should be all good now

[2019-11-06 16:54] #1245 closed

[2019-11-06 16:56] Phonesis commented on #1245
nice going thanks

[2019-11-07 17:36] pipobscure commented on #1146
Just FYI, this is a solved problem in NodeJS. See https://nodejs.org/es/blog/npm/peer-dependencies/

So in this case the share module should declare a peer-dependency on cucumber-js and the main test-project should be the one with the dependency.

[2019-11-11 05:45] charlierudolph commented on #1248
v6.0.4 released with the fix

[2019-11-11 05:45] #1248 closed

[2019-11-11 05:46] charlierudolph commented on #1241
v6.0.4 released with the fix

[2019-11-12 17:01] sromeu-ob opened #1254 "When running with --retry, exit code should be 0 if a failed scenario passes on retry"
When running cucumber with the --retry flag, the process exits with a non-zero code if the scenario fails on first try but passes on a retry.

The expected result should be a exit code 0.

[2019-11-13 11:09] ghost opened #1255 "Retry scenario only if specified exception is thrown"
Cucumber version: 6.0.3

Is there a way to retry a scenario when a specified expection is thrown? Perhaps grabbing the exception from the testCase in after hooks and then triggering a retry. If so how can the exception be grabbed and subsequently how can the retry be triggered?

[2019-11-13 11:29] dawn-minion opened #1256 "Incorrect duration in 6.0.4 JSON report"
After upgrading from Cucumber 5.x to 6.0.4, I noticed that the durations being reported in the JSON output are now incorrect, and seem to be in femtoseconds instead of nanoseconds as before. Here's an example feature and step to reproduce:

[code]

[code]

Console output:
[code]

report.json:
[code]

The duration should be just over 1 seconds in nanoseconds, however it seems to be 1000000 times la

[2019-11-13 17:06] #1256 closed

[2019-11-13 17:19] charlierudolph commented on #1254
We have feature tests that verify it behaves in the expected way you describe. Can you please provide more detail and perhaps a reproducible example?

[2019-11-13 17:22] charlierudolph commented on #1255
Are you asking for more fine grained control over whether on not a scenario will be retried?
Currently any failure will be retried if a positive `retry` value is passed in, though you can limit which scenarios can be retried the `retryTagFilter`.

[2019-11-13 17:24] charlierudolph commented on #1256
6.0.5 released with the fix. Thanks for the contribution!

[2019-11-13 17:32] Mike21002 commented on #1255
Yes, I was hoping to get more fine grained control and make a retry dependent on whether a specific exception is thrown or not

[2019-11-13 18:11] sromeu-ob commented on #1254
Hi Charlie,

Please could you tell me where I can found this feature test? I would like
to check it.

Thanks!

El dc, 13 nov 2019 a les 18:19 Charlie Rudolph <notifications@github.com>
va escriure:

--

Sergi Romeu

Senior Software Engineer
<http://www.oneboxtds.com/>

Barcelona
<https://www.google.es/maps/place/Onebox+Ticket+Distribution+System/@41.4039489,2.1416938,15z/data=!4m7!1m4!3m3!1s0xd422

[2019-11-13 22:17] achuinard commented on #1254
I'm encountering the same issue when executing via `protractor-cucumber-framework`. Trying to figure out if perhaps CucumberJS is returning 0 but the protractor runner is returning 1. @srome-ub are you using protractor-cucumber-framework too?

[2019-11-13 22:44] achuinard commented on #1254
Digging more into this, my guess is that since protractor-cucumber-framework reports multiple runs of the same test, and it reports 1 failure (even though the same test succeeded on retry), this error exists.

I opened up https://github.com/protractor-cucumber-framework/protractor-cucumber-framework/issues/176 for some additional feedback.

[2019-11-17 22:16] OscarGit opened #1258 "BeforeAll hook executes in dry-run mode"
### Problem
I have a setup with cucumber and webdriverio and I use a BeforeAll hook to connect to the webdriver server.
I also have a command that runs cucumber in dry-run mode just to print out snippets for the missing step definitions. But when I run that command, the BeforeAll hook still executes and it tries to connect to the webdriver server, which of course fails if I'm not running the serve

[2019-11-18 03:46] fmagaldea commented on #859
Hi,

What is the state of this output mix?
As of cucumber-js version 6.0.5 in parallel it's still a mess.

At least, a more detailed doc about formatting restrictions could help.

[2019-11-18 04:30] fmagaldea opened #1259 "Step regexp regression in v6 when value is empty"
# Context
* Cucumber version: 6.0.5
* Node version: 13.1.0,
* Operating system: macOS 10.13.3 / same on circleci image node 13.1.0

# Notice
This may be an issue on cucumber-expression, but I'm not sure.

# Description
Prior to cucumber-js version 6, the regexp:
([^"]*)
was detected as an empty string if in the feature file it was empty.
As of version 6, it's null

# Example
1. Let's define the st

[2019-11-27 15:02] saladinProcrastinator opened #1261 "Error: read ECONNRESET after close browser in parallel run"
Hi guys!
I'm using  Nightwatch 1.3.1 with cucumber 6.0.5 and got next error:
ERROR after browser closing in parallel mode after closing the first one.
DELETE /wd/hub/session/37ed4e6afe84c9f8a2a548bcdd5d7171 - ECONNRESET
Error: read ECONNRESET
at TCP.onStreamRead (internal/stream_base_commons.js:201:27)
Error while running .sessionAction() protocol action: An unknown error has occurred.

![500](htt

[2019-11-27 15:06] saladinProcrastinator opened #1262 "Cucumber uses the same sessions for parallel mode"
## Description
I've runned 2 features in parallel mode with tag --parallel 2

**Session info from 1 branch**

DuckDuckGo[{"id":"05a769b805cfd397b431454227553cbd","capabilities":{"acceptInsecureCerts":false,"acceptSslCerts":false,"applicationCacheEnabled":false,"browserConnectionEnabled":false,"browserName":"chrome","chrome":{"chromedriverVersion":"78.0.3904.70 (edb9c9f3de0247
fd912a77b7f6cae7447f6

[2019-11-28 04:57] charlierudolph commented on #1261
This seems like an issue with nightwatch and nothing from the error message makes me think its an issue with cucumber. Please open an issue on the nightwatch repo

[2019-11-28 04:57] #1261 closed

[2019-11-28 20:32] smeyffret opened #1263 "Documentation on env variables in parallel execution"
I have been playing around with the parallel feature and spent some time trying to understand how to pass arguments to the slaves (beside using world-parameters). It took me to read the source code to realize that the master env was [cloned into each slave env](https://github.com/cucumber/cucumber-js/blob/master/src/runtime/parallel/master.js#L60-L64).

It might be helpful to make it explicit in t

[2019-12-03 14:48] mastraub opened #1264 "Adding property to Array.prototype causes an error"
The currently closed issue [Adding property to Array.prototype in page object file causes error](https://github.com/cucumber/cucumber-js/issues/1111) still exists.

This error coerces us to put cucumber in an isolated environment (desired anyway) where we have to give up our handy array extensions (not desired).

Sadly, I have no patch ready yet.

Nevertheless, thank you for the great effort you p

[2019-12-10 06:45] charlierudolph commented on #1264
Dug into this and appears its an issue in our gherkin dependency, https://github.com/cucumber/cucumber/blob/gherkin-v5.1.0/gherkin/javascript/lib/gherkin/generate_events.js#L45

Thats on version 5 and I'm in the middle of updating to version 8 which appears to have switched to a better way to loop which appears to avoid this error.

https://github.com/cucumber/cucumber/blob/gherkin/v8.2.1/gherkin/

[2019-12-15 19:00] gkushang commented on #1250
I disagree with this change as it will break a lot of existing modules. I strongly feel cucumber should keep in-built support for JSON formatted as there are lot of existing Report Dashboards, HTML Reporters are dependent on it.

The link https://github.com/cucumber/cucumber/tree/master/json-formatter is broken.

[2019-12-17 11:21] Philyorkshire commented on #997
Just to add an additional use case to this which is not about screenshots. I am testing an event driven system and the tests cause events to be generated. Those events are then read and create changes to the system.

The steps which follow validate the system is in the expected state which requires all events to have been processed. I would like the ability to ensure the queue has been fully proce

[2019-12-28 17:16] charlierudolph opened #1269 "Typescript tasks"
Now that we have converted to Typescript have a few post merge tasks that would be nice:

- [x] tsconfig - set noImplicitAny to true (#1286)
- [x] tsconfig - set noImplicitThis to true (#1283)
- [x] tsconfig - set noImplicitReturns to true (#1286)
- [x] checkout using https://api-extractor.com/ - better to wait until after https://github.com/microsoft/rushstack/issues/1029 is fixed
- [x] add chang

[2019-12-28 18:32] davidjgoss commented on #1269
Would like to pick up the api-extractor thing if no one objects - won't be short but shouldn't conflict with any of the others.

Also think it might be good to put some guards in with https://www.npmjs.com/package/tsd so we test the typings against typical usages in support code and customer formatters.

[2020-01-03 14:33] RoValentim opened #1274 "Not working anymore: npm install cucumber"
Installation is not working anymore:

[code]

Versions
[code]

[2020-01-03 17:28] davidjgoss commented on #1274
It looks like the install worked fine there, per:

[code]

The vulnerabilities audit stuff doesn't prevent installation.

If you look in `node_modules` you should see that cucumber is there

[2020-01-04 08:52] RoValentim commented on #1274
I looked, but directory is empty.

I tried again and nothing.

[2020-01-07 12:24] tolalitnegi commented on #1274
I am also getting issue while installing latest version of cucumber on node 12.

- node -v 12.14.0
- npm -v 6.13.4

**$ npm install cucumber@6.0.5**

`

  CXX(target) Release/obj.target/fibers/src/fibers.o
../src/fibers.cc:70:58: error: no template named 'Handle'
        void Reset(Isolate* isolate, Persistent<T>& persistent, Handle<T> handle) {

[2020-01-07 17:27] RoValentim commented on #1274
I could install with `-g` option, so the issue is only for local directory I guess.

[2020-01-08 04:57] charlierudolph commented on #1274
For both sets of provided node and npm versions, I started in an empty folder ran `npm init` (to create a package.json file) and then `npm install cucumber` and the package was installed as expected.

Did run into what I find weird behavior where if you don't have a `package.json` file then the node module does not get saved locally on install (that is an npm issue though and not specific to cucum

[2020-01-10 07:10] RoValentim commented on #1274
The directory doesn't matter because you're right about the need of `package.json`, with it the local directory installation worked.

Would be nice to have this information in `Install` part of README, because this weird situation is happening only for cucumber (at least for me), so I don't think this is related to `npm`, because I just did `npm install newman` without a package.json and worked, s

[2020-01-10 07:10] #1274 closed

[2020-01-13 15:06] szikszail opened #1275 "Incomplete CHANGELOG"
Could you please list the breaking changes in the formatter which are mentioned in CHANGELOG?

Currently, it is really hard to figure out what changed and what must be changed to support Cucumber 6 if we create a custom formatter. E.g. `getTestCaseData` has been removed and it is not clear, how [getTestCaseAttempt](https://github.com/cucumber/cucumber-js/blob/master/src/formatter/helpers/event_dat

[2020-01-14 20:22] RusmanCool commented on #1249
@aslakhellesoy "cucumber-messages." link is not working anymore. Also, how will the proposed solution work with a tool like "cucumber-html-reporter"?

[2020-01-15 15:36] charlierudolph commented on #1274
In an empty directory running `npm install newman` does not install it for me (no node_modules folder gets created). How are you verifying it gets installed? I'm using npm version 6.13.6 by the way

[2020-01-15 15:45] charlierudolph commented on #1275
Sorry, yes the custom formatters have never been documented all that well.

Note there are a lot of unreleased changes in master right now so I suggest looking at documentation via the tag of the release you are using: https://github.com/cucumber/cucumber-js/blob/v6.0.5/src/formatter/helpers/event_data_collector.js

I think we can work on some better formatter documentation in Cucumber 7 (which wi

[2020-01-16 23:33] Kieran91 commented on #1203
I'm also seeing this issue when passing `--require-module esm`. I'm happy to provide for info if needed.

[2020-01-18 23:37] Kieran91 commented on #1203
I've replicated the issue using the steps below. I didn't pass the `--parralel <number>` flag in either of the two scenarios so maybe this issue has something to do with having one test runner executing another child test runner?

### Steps:
1. Checkout master and install:
[code]

2. Add the file:
[code]

3. Add the feature file:
[code]
4. Run the tests:
[code]

### Expected Result
Both tests pass

[2020-01-20 18:31] ermicioi opened #1277 "Retry BackOffPolicy"
Feature request for implementing some BackOffPolicy for retry feature.

Example scenario:
When running a suite of tests against a self recoverable environment and some test are failing, because the node goes down, then retry execution after N milliseconds, when the node is brought up.

In current solution the retry executes same test again without an configurable wait, which does not make sense as

[2020-01-24 14:26] RArkasali commented on #997
@davidjgoss @charlierudolph Please can you help me with a sample example code of setDefinitionFunctionWrapper for to achieve the screenshots thing BeforeStep/AfterStep?, I am trying with Nightwatch JS

[2020-01-25 14:45] marius1706 opened #1278 "Steps undefined when using cucumber-js CLI"
Hi,

I'm using cucumber-js CLI in an azure function like this:

       let runArgs = ['node', 'cucumber-js'].concat(['--tags', '@ttcid:' + templateTestCaseId])
    context.log("Run test : " + testId);

       let outputStream = new stream.Writable();

       outputStream._write = async function (chunk, encoding, done) {
            context.log(chunk.toString());
            done();
      };

[2020-01-26 15:20] davidjgoss commented on #997
Hi @RArkasali here's a snippet from a project I work on:

[code]

(Where `takeScreenshot` is a method on your custom `World` that does the actual screenshot-taking stuff. I'm not familiar enough with nightwatch to know what that looks like but I'm sure you will be.)

So this will take a screenshot if there is an error (like an assertion failure) from within the step function. The fact that we retu

[2020-01-28 12:00] serge-shaldanov commented on #1120
I believe it will be better to inject World instance via the constructor — to enable intellisense auto-completion for it.

[2020-01-29 16:38] charlierudolph commented on #1278
What version of cucumber-js are you using? And why do you need to overwrite Cli's `getSupportCodeLibrary` method?

Its hard to tell if this is an issue with cucumber vs some other part of your workflow. If you can create a minimum reproducible example, I can try to help debug

[2020-01-30 11:05] marius1706 commented on #1278
Hi @charlierudolph ,

Thanks for the answer.

I'm using version 6.0.5.

I'm overwriting getSupportCodeLibrary because I want to return that library value from first run when stepDefinitions are populated as on next runs, that is empty;

I created a simple example when that is reproducing:
https://github.com/marius1706/cucumber-js-cli

You need to run that `runTest.js` .

I simulated the  azure fun

[2020-01-31 06:33] charlierudolph commented on #1278
Okay. Yep, so this is currently due to this line which clears the support code library: https://github.com/cucumber/cucumber-js/blob/v6.0.5/src/cli/index.js#L74.

The support files are not reloaded as expected because node caches requires and thus will not re-execute the file. You could clear the cache: https://nodejs.org/api/modules.html#modules_require_cache

If you want to share the library bet

[2020-01-31 08:35] #1258 closed

[2020-02-03 09:03] davidjgoss commented on #1269
Update from me - had a go with api-extractor but ran into a corner case issue where re-exporting the `Status` enum from cucumber-messages trips it up. I've gotten some help from the rushstack team and will dig in a little more this week.

Also I can pick up `noImplicitReturns` in next couple of days too.

cc @charlierudolph

[2020-02-03 10:58] RobertDiebels opened #1284 "Full tagging support"
I would like to request that tagging is fully implemented according to the latest Gherkin specification [ [specification ](https://cucumber.io/docs/cucumber/api/#tag-expressions)].

Right now cumcumber-js implements tagging on a scenario level only. This is very restrictive. Having tags implemented according to the spec means that it we can avoid redundant tags for scenarios.

[2020-02-03 11:07] davidjgoss commented on #1284
Can you specify how exactly cucumber-js doesn’t meet the spec. Tags are supported on both features and scenarios, and as far as I know all the tag expressions in that documentation would work too

[2020-02-03 11:21] RobertDiebels commented on #1284
@davidjgoss Tag-inheritance is non-functional in version `6.0.2`.

[2020-02-03 17:44] davidjgoss commented on #1284
Per the [docs on hooks](https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/hooks.md#tagged-hooks), the `tags` property is expected to be a tag expression, which means you need to prefix with the `@` symbol - this is what your example code above is missing, I think.

I've extended an existing test in the codebase that proves that tags from feature and scenario level are honoured

[2020-02-03 19:13] davidjgoss commented on #1262
@saladinProcrastinator do you also see this with serial runs?

cucumber-js runs each compiled scenario with an separate instance of the World.

[2020-02-03 19:29] davidjgoss commented on #1277
I’m not sure how this could be added without either being very opinionated or adding lots more configurability (eg more CLI options).

Hypothetically if the attemptNumber was made available to hooks then users could implement this kind of thing themselves.

[2020-02-03 20:00] rayk47 commented on #1262
To build on the point @davidjgoss is making I ran into the issue he is referring to with protractor. Here is a sample of the solution I implemented https://github.com/rayk47/parallel-protractor-cucumber/blob/master/e2e/config.ts

[2020-02-03 20:46] ermicioi commented on #1277
I will come with a PR, I hope soon :)

[2020-02-04 09:38] RobertDiebels commented on #1284
@davidjgoss Ah ok. I was under the impression that the @ was syntax only and superfluous for the hooks. My mistake.

Does this also apply to AfterAll and BeforeAll hooks? Or are they non-responsive to tags?

Thanks for your replies so far.

[2020-02-04 10:42] davidjgoss commented on #1284
@RobertDiebels no problem. With `beforeAll` and `afterAll`, they are at the test run level and are always run, so they have no `World` and no tags.

[2020-02-04 12:03] RobertDiebels commented on #1284
@davidjgoss So, what would be the way to execute a hook after one feature specification file only? I'm asking because I want to wipe a database after a specific feature specification.
Would I need to store the current context somewhere and check for it in an AfterAll hook? Or does Cucumber provide a method to execute some code after a specific feature?

[2020-02-04 12:08] #1284 closed

[2020-02-04 13:13] marius1706 commented on #1278
Hi @charlierudolph ,

Thanks for your answer.

I tried to clear node cache like this:

[code]
I still encountered that undefined randomly and rare.

I'm using cli node API in this way because I'm using an azure function which will be called from other application for different tests.

In the other application I'm collecting data which I need in test and send that data to azure function(API call) w

[2020-02-04 19:25] davidjgoss commented on #1284
It's not really possible, I don't think - features are more of a logical grouping of scenarios at the feature level, but that doesn't translate to runtime where cucumber is just running a set of compiled scenarios

I've seen similar requirements before met by doing something like:

1. In a `before` hook matching on a tag, create the data you need - or skip on if the data's already created
2. In an

[2020-02-04 19:38] RobertDiebels commented on #1284
@davidjgoss Yea, I ended up doing exactly that. Again, thank you for your help. Much appreciated.

[2020-02-06 15:57] charlierudolph commented on #1277
This issue may be related where I had the idea that a custom work partitioning for parallel could be defined via a function so we can do things other than CLI to support this: #1044

[2020-02-10 16:35] bablukpik opened #1287 "How to consider a datatable as optional in selenium webdriver"
I have a step that sometimes needs to use a datatable but not all the time but how to do that.

Here is the step **When I create a 'basic' contract for 'marketplaceBuyer1'** but sometimes I need like this

[code]

And step defination:

[code]
Ref: https://stackoverflow.com/questions/60150709/how-to-consider-a-datatable-as-optional-in-selenium-webdriver

[2020-02-10 17:31] davidjgoss commented on #1287
Is the usage of the datatable limited to just whether `specialSkill` is true or false?

[2020-02-10 18:07] bablukpik commented on #1287
No @davidjgoss It can be any values like
[code]
And so on

[2020-02-11 11:55] davidjgoss commented on #1287
Okay - I don't see a reason why you couldn't define the step like this:

[code]

So if you used that without a table or doc string, the third argument would just be `undefined` - try it out?

Alternatively you could look at a different flavour of the step worded more like `/^I create a '(.+)' contract for '(.+)' with options:$/`

[2020-02-11 19:01] bablukpik commented on #1287
Hey @davidjgoss it's fine when I use the data table but without data table it throwing the following error
 When I create a 'basicSpecializedSkills' contract for 'marketplaceBuyer1'
# features/step_definitions/rest/contract_steps.js:21
       Error: function uses multiple asynchronous interfaces: callback and promise
       to use the callback interface: do not return a promise
       to use the p

[2020-02-11 19:09] davidjgoss commented on #1287
Ah I see - I think cucumber is seeing the third argument and thinking since a) it doesn’t form part of the expression and b) there’s no doc string or data table then it must be a callback function, but you are already using an async function hence the error message. Sorry, I had forgotten about that logic.

Going back to my earlier comment then I think you need two distinct steps

[2020-02-13 00:11] xuanzhaopeng opened #1288 "How to use cucumber-messages"
Refer to the doc https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md#Formats

It mentioned `message` format,  when I do `--format message`,  it throw an error `Cannot find module /.../message`

I'd like to ask do we have an example about how to use message format? Since currently there is no proper way to generate report **when run scenario in parallel.**

Thanks for your help

[2020-02-13 12:39] davidjgoss commented on #1288
There should be a 7.0.0 out quite soon, there are a few things left to fix up.

The current docs can be found here https://github.com/cucumber/cucumber-js/tree/6.x

[2020-02-13 14:37] aslakhellesoy commented on #1288
@davidjgoss Before we make a release I'd really like to verify that the messages produced by the message formatter can be consumed by tools like [json-formatter](https://github.com/cucumber/cucumber/tree/master/json-formatter) and [html-formatter](https://github.com/cucumber/cucumber/tree/master/html-formatter).

The [compatibility-kit](https://github.com/cucumber/cucumber/tree/master/compatibilit

[2020-02-13 17:43] davidjgoss commented on #1288
@aslakhellesoy yeah, I’ve been meaning to have a play with that anyway so will do it soon.

Also based on call from the other day we should change the message formatter to output NDJSON rather than binary?

[2020-02-13 18:42] aslakhellesoy commented on #1288
Yes! We’re not in a high throughput low latency environment so the benefits of json (human readable) outweighs the marginal benefits of binary.

[2020-02-13 18:43] aslakhellesoy commented on #1288
Also, I’m releasing the whole monorepo today and tomorrow so there will be some major releases to upgrade

[2020-02-14 09:54] xuanzhaopeng commented on #1288
Hey @aslakhellesoy  @davidjgoss , I built local version from master branch. I rewrite allure-cucumberjs to consume envelope , and build the allure report based on `this.eventDataCollector`.

In non-parallel mode, It can:
1) consuming envelop success
2) inject variable into World

In parallel mode,  it can:
1) consuming envelop success
2) Cannot inject variable to World. I'm assuming it's because F

[2020-02-14 12:14] xuanzhaopeng commented on #1288
In other words,  Formmater cannot identify which slave send the message back, and the SLAVE_ID only exposed to each slave,  Is it possible on each envelope message,  that we add slaveId?

[2020-02-14 16:01] charlierudolph commented on #1288
@davidjgoss you please create an issue where we start tracking what tasks we want to complete before 7.0.0?

@xuanzhaopeng I don't see the reason a good reason should allow this. To me formatters should not effect execution. What is the reason you need this? Maybe we could solve that in a different way.

Why does the formatter want to know what slave ran each test case? Adding the slave to the mes

[2020-02-14 16:03] charlierudolph commented on #1287
Yep, please create two different steps. You can create a helper function to encompass the shared logic.

[2020-02-14 16:30] xuanzhaopeng commented on #1288
Hey @charlierudolph , for 1st point,  I think it's very specific allure related issue, maybe we could discuss it in separated thread.

For adding slave id into message,  is because:
When run test in parallel,  Allure report can show the time slot like this(maybe also other reporter consumers):
![image](https://user-images.githubusercontent.com/5563244/74548594-6d6b1880-4f4e-11ea-9ca1-cc78fcdaa81b.

[2020-02-14 16:31] davidjgoss opened #1290 "7.0.0 candidates"
Discussion of what needs to be done before cutting a 7.0.0 release. There is [a milestone](https://github.com/cucumber/cucumber-js/milestone/11) created which concrete issues and PRs can be linked to once they are agreed here.

## TypeScript

- [x] Various fixup tasks (#1269)

## Gherkin & Messages

- [x] Minimal support for `Rule` in out-of-box formatters (#1273)
- [x] Change messages output to N

[2020-02-14 16:32] davidjgoss commented on #1290
cc @charlierudolph @aslakhellesoy

[2020-02-17 18:53] bailejl commented on #1259
We have the same issue.  Our steps with `""` use to return an empty string in the step, now we get   null.  Based on the Cucumber docs, we should get an empty string, link below.

Our version of Cucumber is 6.0.5.

https://cucumber.io/docs/cucumber/cucumber-expressions/#parameter-types

[2020-02-18 13:24] davidjgoss opened #1291 "cli: --retryTagFilter case inconsistent with other args"
To specify a tag filter for retry:

[code]

It being in camel case is inconsistent with others like `format-options`, `world-parameters` and `require-module` which are kebab-case.

This is not just aesthetic, as it means if you are using something like dargs to create profile strings on the fly, you can't rely on a consistent rule.

Suggest we change it to `--retry-tag-filter` - we could potential

[2020-02-18 16:04] pciruzzi commented on #1259
Hi! We have a similar issue with the new cucumber version 6, which was working on `5.1.0`. We had an step definition:
[code]

Before, when using it like:
[code]
`databaseName` was `undefined`, but now it's giving a `null`. This is particularly messing things up, because we were relying on that parameter to call a function which has a default value. Now, as it's getting `null` instead of `undefined

[2020-02-20 04:19] charlierudolph commented on #1291
Sounds good to me

[2020-02-20 11:39] RajaAutomation opened #1292 "Navigating from feature file to step definition."
Issue --> Unable to navigate from feature file to step definition by using CRTL+CLICK or F12.

Steps To Reproduce:-
1. Open a feature file and place cursor on any gherkin step.
2. Click on F12 or CRTL+CLICK and verify that you are able to navigate to Step definition file directly.

I have used specflow (i.e cucumber for C#) and the above steps help me navigate to the step definition file directly

[2020-02-20 12:29] davidjgoss commented on #1292
This functionality exists in many editors and IDEs but it's not part of cucumber-js itself. It will depend on a few things:

1. You have the editor set up right (plugins installed etc)
2. It knows where your step code is (is it in your workspace? in node_modules or an ignored dir?)
3. It can understand the match (e.g. using custom parameter types would not work)

This isn't really the right place

[2020-02-20 12:29] #1292 closed

[2020-02-21 11:32] jackall3n commented on #1139
@x80486 did you have any luck with `TypeError: cucumber_1.Before is not a function`? or did you just remove `cucumber.js`?

[2020-02-29 12:10] averri opened #1294 "Multiple formatters not working"
The multiple formatter configuration is not working.
Example: when running Cucumber setting summary and progress bar at the same time
[code]
... then only the last option (the progress bar) is shown in the console.

Node version: 12.16.0
Cucumber-js: 6.0.5

[2020-02-29 16:41] davidjgoss commented on #1294
From the docs at https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md#formats:

In this case, you have two formats defined but both to stdout, so the later one wins.

[2020-03-01 00:37] averri commented on #1294
Thanks @davidjgoss.

[2020-03-01 00:37] #1294 closed

[2020-03-01 14:32] x80486 commented on #1139
@jackall3n, I can't remember right now. I had to move to some other project. Let me see if I can go back to try this one again with newer versions of Cucumber.js...probably _something changed_ :roll_eyes:

[2020-03-06 16:43] aslakhellesoy opened #1296 "Allow sending message output to a HTTP(S) URL"
We want to make it easy for users to publish their results to external services. Allowing users to specify a URL to send results to should help.

I'm fully aware that this is a fragile solution - if the server is unavaible there is no way to resend the messages - cucumber would have to be run again.

We will also provide guidelines about alternative, more robust mechanisms to publish results, such

[2020-03-07 18:14] charlierudolph commented on #1296
Is this really something we should have built into the tool? Seems simple enough to create a tiny script that runs after the tests finish

[2020-03-09 15:38] charlierudolph commented on #1290
@aslakhellesoy I looked at the compatibility kit a bit and don't see the binary the readme mentions to actually perform the check.

[2020-03-10 09:09] baor commented on #997
Hi all,
what is the status of this issue? Does it still needs help?
I am interested in BeforeStep and AfterStep, because it would help me to have a "log" file with all the step names and additional log information. It is a bit easier than creation of custom formatter.

[2020-03-12 02:27] charlierudolph commented on #1254
Closing as appears to have been a protractor cucumber framework issue and fixed. See linked issue above.

[2020-03-12 02:27] #1254 closed

[2020-03-12 02:27] #1287 closed

[2020-03-12 03:05] charlierudolph commented on #1153
Thinking on solution design for this, I don't want the interface to be parallel specific. Thoughts on something like this:

A new interface that allows users to provide a function that returns data that is passed to world constructors. This can be a nice way to setup data you want available to all scenarios either in serial or parallel mode?

[code]

In parallel mode this would only be executed on

[2020-03-12 03:09] charlierudolph commented on #1247
I personally don't like the idea of slaves sharing data they dynamically create. I also want to not build any parallel specific interfaces if we can avoid it. Thus I'd like to try to think of serial analogies when we are trying to build features.

How would you solve this in serial mode? Would you have some global that retains shared state that could be reused?

Also I wonder if the solution being

[2020-03-12 07:08] charlierudolph commented on #1203
Well, I went down a rabbit hole trying to understand `esm` and have so many questions. In the end, I thought the best thing would be if we had some way of passing through the node options specified.

Turns out with the release of v6, I had switched how we start the slave from spawn to fork (which starts a node subprocess passing down the options). Thus if you upgrade to v6, you can use `node -r es

[2020-03-12 07:08] #1203 closed

[2020-03-17 08:24] #1291 closed

[2020-03-19 17:26] #1249 closed

[2020-03-21 10:25] stefdelec opened #1302 "rerun reruns all tests if @rerun.txt is empty"
If `@rerun.txt` exists and has not failing test in it (empty), it runs all features.

`cucumber-js @rerun.txt cucumber-js @rerun.txt`

If I had one failed test, it runs only the the specified test.

[2020-03-21 15:33] charlierudolph commented on #1302
I personally think this makes sense. After working your way through the failures, its good to run the whole suite again.

Any empty rerun file is essentially the same to me as not providing any paths to features.

[2020-03-24 05:52] Salih1393 commented on #709
I was getting the same error. As @sumbhatt11 did, I searched for it for hours. I have a Driver.java class to be able to have only 1 driver. Its the singleton logic. If there is already a driver, I use it by calling Driver.getDriver method that I coded. By using this methodology, I solved the error. It provides only 1 driver and only 1 session ID as far as I understood. Don't use static WebDrivers

[2020-04-02 16:48] chris-fran opened #1303 "Where is the attachment screenshot saved to?"
This might come off as a silly question, I added the code to attach a screenshot
[code]

And I see the following output on stdout:

[code]

But I can't find the image on any directory. What am I missing?

[2020-04-02 22:21] adamlacoste opened #1304 "Native JS module support in step definitions and support code"
### Problem ###
When I attempt to run Cucumber.js with a step definition defined in a native ECMAScript module (as documented [here](https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/step_definitions.md)), the attempt fails with a warning that I am using CommonJS's `require()` on an ES module.

**Cucumber.js version:** 6.0.5
**Node version:** 13.8.0

### Steps to reproduce ###

[2020-04-07 05:09] charlierudolph commented on #1303
By default they aren't written to disk anywhere but content would be output in to the JSON / event protocol formatter. See here: https://github.com/cucumber/cucumber-js/blob/6.x/docs/support_files/attachments.md

[2020-04-08 05:03] Aksahy-sh commented on #976
Failure in before hook:Hooks.setup(Scenario)
Message: java.lang.NullPointerException

Why do we get this kind of errors

[2020-04-09 04:11] charlierudolph commented on #1304
I would like to get cucumber-js working with ESM. We had some other issues opened about it already.

We could make a CLI option (or use some other way to look for when to user it) that makes cucumber-js use `import` instead of require and wait on the returned promise.

Given the example you added, we could add a test case specifically for this and work on making it pass. Experimenting with switchi

[2020-04-09 06:16] adamlacoste commented on #1304
I took the example (slightly modified) from the step definition documentation, but you're right, it won't work as written.  Because Cucumber.js is a CommonJS module, it only provides a default export.  In the short term, I would probably just import the module default and then access the Given/When/Then methods from that:

[code]

Longer term, it would be nice if Cucumber had separate entry points

[2020-04-14 16:29] yevgen-getalo commented on #1038
Hello! Is there any chance to run cucumber js in parallel with allure reporter? When I try to run with cucumber-js --parallel 2 -t @debug --format reporter.js:./dummy.txt I just got TypeError: Cannot read property 'sourceLocation' of undefined
Thank you in advance!

[2020-04-15 00:53] Soujanya2107 opened #1306 "Where to create the world.js file? In which folder?"

[2020-04-15 02:59] Soujanya2107 opened #1307 "TypeError: Cannot read property 'Builder' of undefined at new CustomWorld"
const setWorldConstructor = require('cucumber');
const {seleniumWebdriver} = require('selenium-webdriver');
var {defineSupportCode} = require('cucumber');
var firefox = require('selenium-webdriver/firefox');

function CustomWorld() {
 let driver = new seleniumWebdriver.Builder()
      .forBrowser('chrome')
      .build();
      this.driver=driver

}
defineSupportCode(function({setWorldConstructor}

[2020-04-15 03:00] #1306 closed

[2020-04-15 13:19] davidjgoss commented on #1307
That looks like your import of webdriver resolved to `undefined` - from this line:

[code]

I suspect what you want is on the default export - so try like this instead:

[code]

[2020-04-16 01:45] Soujanya2107 commented on #1307
Thank you That worked for me.

[2020-04-16 01:45] #1307 closed

[2020-04-21 04:22] chamberlainpi opened #1308 "Is there a CucumberJS API to pass in features as raw strings?"
Hey! I'm new to CucumberJS and was wondering if there's any way to use this as a node module, like importing/requiring the cucumber library and running tests by passing the features as **an array of strings**, instead of pointing to a folder of features files.

Something along the lines like:

[code]

Can cucumber be used in this way? Or does it absolutely have to have the features written to the

[2020-04-21 06:51] abhinaba-ghosh opened #1309 "--name does not recognize a scenario if special characters are used in the scenario name"
Hi,
My scenario name is something like:

[code]
When I am trying to run the scenario with CLI  command as:
[code]
This is not able to recognize and run the scenario. I am using cucumber 6.x

If I just delete the braces, then it is able to recognize and run the scenario.
Any guidance will help!

[2020-04-21 14:13] aslakhellesoy opened #1310 "Emit a Meta message at the beginning of the run."
See https://github.com/cucumber/cucumber/pull/976 for details.

It's been implemented in cucumber-ruby and cucumber-jvm:
* https://github.com/cucumber/cucumber-ruby/pull/1409
* https://github.com/cucumber/cucumber-jvm/pull/1952

[2020-04-21 23:22] Izhaki commented on #1308
This is possible, and exactly what is done in the [browser example](https://github.com/cucumber/cucumber-js/blob/036a7b1e141b0ace4b7cf66dbfb1bc8fcdfcabfa/example/index.ts), specifically here:

[code]

But as you'll notice, this setup is slightly more complicated as you need to use low-level API

[2020-04-21 23:22] #1308 closed

[2020-04-21 23:23] #1303 closed

[2020-04-21 23:25] Izhaki commented on #1139
Closing this due to inactivity. Will be happy to re-open if more details provided.

[2020-04-21 23:25] #1139 closed

[2020-04-22 01:26] chamberlainpi commented on #1308
@Izhaki does the `uri` property have to be specified? Can I just specify the feature string in the source object’s `data` property?

[2020-04-22 09:10] Izhaki commented on #1308
When read from the file system, the `uri` is ultimately the 'path' to the feature file.

When you create one manually (as we do in the example above), you still have to provide some "file path", although we don't have a real file (or a real path). So you can just made up whatever you want.

The whole API, including error reports structures etc. are based on the assumption that each feature comes f

[2020-04-24 03:30] sfdcale opened #1312 "'skipped' status returned from When is not preventing the execution of Then step"
I am struggling to skip the execution of `Then` step when status returned from `When` method is `'skipped'`:

**Snippet1**:
This is not working(`Then` step is executed)
[code]

**Snippet2**:
This is working(`Then` step is not executed)
[code]

Why snippet1 is not skipping the execution of `Then` step?

My ultimate goal is to skip the execution of `Then` step based on the results of some operation

[2020-05-01 17:42] af6140 opened #1314 "Question on example table"
Document said we can use transformer for data table.

But can we and how to use it for example table

[2020-05-02 21:45] charlierudolph commented on #1314
Are you referring to this kind of example table?

https://github.com/cucumber/cucumber-js/blob/master/features/scenario_outlines.feature#L10

That table is never exposed to the user and instead only used to reduce duplication in feature files.

[2020-05-02 21:53] charlierudolph commented on #1312
Auhh. The original requirements for the "skipped" feature involved being able to skip a scenario from a before hook. This seems like a valid use case and something that needs to be fixed.

[2020-05-06 20:39] sethtomy commented on #1153
@charlierudolph has this been implemented at all(perhaps on a different branch?).

Specifically I would like to spin up a server in the BeforeAll that runs only on master, waits for all the children to return, then shuts down.

I've tried specifying child 0 to spin up the server but there seems to be no guarantee as tests will still be running when the server shuts down.

[2020-05-07 03:04] charlierudolph commented on #1153
Hi @sethtomy, this has not been started to my knowledge

[2020-05-09 21:18] davidjgoss commented on #1290
@charlierudolph @aslakhellesoy I got something started for CCK validation here:
https://github.com/cucumber/cucumber-js/pull/1318 (still very WIP, need to sort out making uris, ids and clock predictable).

Most of the differences are because things have moved on since gherkin 9 and messages 8 which we are depending on right now. Do we want to try and bring it up to the latest gherkin and messages

[2020-05-10 21:06] charlierudolph commented on #1290
Upgrading gherkin / messages works for me. An long as cck if itself versioned and suppose to work with specific gherkn / messages that should be fin.

[2020-05-11 21:35] xuanzhaopeng commented on #1288
Hey @charlierudolph ,  do you think we can put slave number inside of testCaseStarted Message in 7.0.0 release?

[2020-05-18 10:57] kajalasharma opened #1320 "Return 'skipped' if element is not visible"
In Before hook, i want to check an element visibility and return skipped if the element is not visible.

However if i do assert its result is always undefined.

How do i check element visibility using nightwatch/chai/js and return 'skipped' if its not visible.

[2020-05-19 02:37] BevanR commented on #1153
Our use case is similar but slightly different, something like [@charlierudolph 's `setWorldSharedDataBuilder()` proposal](https://github.com/cucumber/cucumber-js/issues/1153#issuecomment-597983080) would solve it, but there would need to be a counterpart for after all child processes have finished.

I am using `AfterAll()` to do some custom processing of total results and notifications. E.g. `1 f

[2020-05-20 03:47] charlierudolph commented on #1320
I think you want to open this issue on nightwatch repo or try another forum for support

[2020-05-20 03:47] #1320 closed

[2020-05-20 23:24] Izhaki commented on #1314
No response from OP and question unclear. Happy to reopen upon response.

[2020-05-20 23:24] #1314 closed

[2020-05-21 01:21] tibawatanabe commented on #1312
Hum... so is the example from `skipped_steps.feature` not valid/not something we should use as reference? Considering its content I'd assume that a skipped `Given` would work regardless of a hook.

[2020-05-21 08:30] davidjgoss commented on #1290
Still working through these changes.

@mpkorstanje @vincent-psarga are you able to do a release of the JavaScript CCK package with the latest changes?

[2020-05-21 19:07] davidjgoss commented on #1310
Will do as part of #1318

[2020-05-24 17:55] mpkorstanje commented on #1290
I wasn't aware those were released. If nobody else gets to it before the end of this week I'll give it a stab.

[2020-05-26 10:30] pittgoose opened #1321 "BeforeAll and AfterAll hooks don't fire events"
I'm writing a custom formatter and I've found that while `Before` and `After` hooks have a `test-step-finished` event, `BeforeAll` and `AfterAll` hooks do not. I have played around a bit with the code and have a nearly-working feature to add this functionality to cucumber, but before I put in the effort I wanted to just see if a PR for a feature like this even has a hope of being accepted.

I was

[2020-05-27 05:26] noopurporwal commented on #1120
Were you able to find a solution to this? I am having the same issue and if i declare it outside any of the steps, it is not able to consider itself as a driver capability

[2020-05-28 08:35] davidjgoss commented on #1296
Okay I get this now I have seen Aslak's Smartbear talk. Could be a little tricky as it would be different implementations for Node vs browser. I'll take a look when I get past this messages/CCK stuff.

[2020-05-28 08:48] davidjgoss commented on #1120
@noopurporwal I'd recommend you implement a custom [world](https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/world.md) and provision your driver from within there so it's available to the steps.

Something like:

[code]

and

[code]

Because you get a fresh instance of the World for each scenario, it also keeps any state of your driver from bleeding across scenarios (which sho

[2020-05-28 17:26] noopurporwal commented on #1120
@davidjgoss Thanks for your response, I will try this way as well.
But I tried another way where I am not declaring the setter function as async and could initiate the driver once and for all to be used across all scenarios. Is this approach correct? Here is the sample

[code]

and

[code]

[2020-05-29 10:53] davidkoch-fwiot opened #1322 "Scenario Outline variable subsitution not working for variables that contain parenthesis"
We often use phrases like "is triggered" and "is not triggered". In scenario outlines we phrase it as "the thing <is (not) triggered>". But when running the tests, the step is not found because the variable is not replaced due to its parenthesis. The other variables are replaced properly.

Here an example:
[code]
 `value` gets replaced, but `is (not) triggered` is not. It then looks for steps like

[2020-06-02 21:16] Izhaki commented on #1322
I don't really know why and where this is happening (and whether this should be happening).

But seems to me a bit odd to name a variable `is (not) triggered`. It is confusing, both in the step and in the examples table.

Why not:

[code]
?

[2020-06-03 06:25] vincent-psarga commented on #1290
@davidjgoss what do you exactly mean by a release of the CCK ? For Ruby for example, we don't package the CCK as a gem, we run the feature directly from the mono-repo against the code of `cucumber-ruby` in its branch.

You can see [in the config.yml of cucumber-ruby](https://github.com/cucumber/cucumber-ruby/blob/master/.circleci/config.yml#L138) how each build validates the CCK.
That said, we use

[2020-06-03 06:45] davidkoch-fwiot commented on #1322
A phrase like `Given the thing is (not) triggered and has value` can somewhat stand alone while     `Given the thing is triggered status and has value` may be a bit cryptic.

[2020-06-03 08:04] davidjgoss commented on #1290
@vincent-psarga the JS version of CCK has been packaged up and published to npm - the current published version 1.0.0 is a few months old though https://www.npmjs.com/package/@cucumber/compatibility-kit

If the setup is already there for it, I think using CCK as an npm package would be the cleanest way for us to work with it

(I'm not blocked on this right now as I have copied the content from the

[2020-06-03 08:09] Ulrikop commented on #1322
The solution with `triggered status` is a possible solution. but the difference is that `triggered status` is more of a word by the developer, a variable like `is (not) triggered` sounds more natural.

we made the experience that non developer (like a project manager) read steps containing variables more easily if the variables are written like a part of the sentence.

[2020-06-04 10:43] davidjgoss commented on #1322
@davidkoch-fwiot I suspect that it doesn't work because the templated bits within `<>` are expected to be plain values and don't form part of the expression - I will have to dig into the code and check this though.

[2020-06-04 10:51] davidjgoss commented on #1120
I'm not super familiar with webdriverjs - but I have seen quite a few issues raised here over time where state of the driver (cookies, appcache etc) was leaking between scenarios - which is why I suggested having it 1:1 with the World. Your approach may be fine but I think you need to understand what the side effects might be of sharing the driver across scenarios (especially if running in paralle

[2020-06-05 15:54] charlierudolph commented on #1322
This translation is done in gherkin:

https://github.com/cucumber/cucumber/blob/master/gherkin/javascript/src/pickles/compile.ts#L218

Appears not currently escaping anything and thus if you use any regular expression special character that will cause an issue.

[2020-06-08 09:15] hobdell-SAP opened #1324 "Generated snippets with special characters are not correctly escaped."
# Prerequisite Due Diligence
* I could not find related issues about escaping special characters in the error output.
* I'm only parsing features and step defs (no tests are yet implemented), so definitely cucumber-js.
* This is a bug report. Version Info and steps to reproduce follow.

# Version Info
[code]

# Steps to reproduce
I'm going from BDD to code. The first step when adding new features

[2020-06-08 09:24] hobdell-SAP commented on #1324
I have edited the description twice to format the backslashes correctly. It seems that escaping of backslashes isn't just a cucumber issue! :)

[2020-06-08 15:13] Izhaki commented on #1322
@davidkoch-fwiot I think you should close this issue and open a new one here: https://github.com/cucumber/cucumber/issues

[2020-06-09 06:36] #1322 closed

[2020-06-10 14:32] stefdelec opened #1326 "The "from" argument must be of type string. Received type undefined"
I am trying to use steps I wrote and publish on npm
Here is the error I have:
[code]

I have found that this is ```this.cwd``` which is undefined. What can i do?
![image](https://user-images.githubusercontent.com/12082478/84280707-f29abe80-ab37-11ea-878e-9b96429fb321.png)

If I copy paste my steps in the root directory (where the package.json is), I don't have any error. So the problem is: I canno

[2020-06-11 20:11] SushmaS03 commented on #1105
Is it possible to Pick only one scenario from the Example table? lets say i have

 A| B | C|
| Bundle    | 'HD'              | 'SHP'            |
| PZ    | 'HD'              | 'SHP'            |

If from one feature file(lets say helloWorld.feature) i am calling another feature(Print.feature) file which has scenario outline with above table, then is it possible to pick a scenario to run from the f

[2020-06-22 15:14] sroze opened #1369 "Time for a release? `message` formatter doesn't work in latest but works on `master`"
Hi there,

In the latest release, the `message` formatter doesn't work, unfortunately. It does in `master`, which is great news. Would it be a good time for a release? :)

Thank you 💜

[2020-06-22 17:22] aslakhellesoy commented on #1369
Hi @sroze - have you tested the generated messages with any consumers? If so, which ones?

I'd like to make sure the generated output works with the following:
- [html-formatter](https://github.com/cucumber/cucumber/tree/master/html-formatter)
- [json-formatter](https://github.com/cucumber/cucumber/tree/master/json-formatter)

@vincent-psarga - can we update the cck to validate this as part of the

[2020-06-22 18:03] aslakhellesoy commented on #1369
The following should be upgraded before cutting a release:

* `"cucumber-expressions": "^8.3.0"` -> `"@cucumber/cucumber-expressions": "^10.2.0"`
* `"cucumber-messages": "^8.0.0"` -> `"@cucumber/messages": "^12.1.1"`
* `"cucumber-tag-expressions": "^2.0.3"` -> `"@cucumber/tag-expressions": "^3.0.0"`
* `"gherkin": "^9.0.0"` -> `"@cucumber/gherkin": "^13.0.0"`

If a release were to be made without t

[2020-06-22 18:58] sroze commented on #1369
@aslakhellesoy I'm actually using them with my own parser to integrate them in an auto-generated documentation (in a plugin for mkdocs) so I'm using `--format message:output.ndjson` and reading that `output.ndjson` file. So far so good, much better than the previous JSON output I must say 👌

[2020-06-22 19:08] vincent-psarga commented on #1369
Just to be sure I understand this correctly: run the latest release `xxx-formatter` against the release of `messages` to ensure we do not skip a release of the formatters ?
That definitly makes sense. Although I don't know if that should be part of the CCK or a second CI job for each formatter.

[2020-06-22 22:33] aslakhellesoy commented on #1369
@sroze very cool! Keep in mind that there have been some backwards incompatible changes in the `@cucumber/messages` library from `8.0.0` to `12.1.1`. It has also been renamed. Any library depending on it will have to be updated too.

The other Cucumber implementations (JVM/Java and Ruby) use the latest versions of the messages library, so your tool wouldn't be able to consume those.

@sroze do you

[2020-06-22 22:35] aslakhellesoy commented on #1369
@vincent-psarga I was suggesting that we could verify that cucumber.js is compliant with our cck. We'd have to implement step definitions, run cucumber.js with the message formatter, and then check if both json-formatter and html-formatter can consume those messages.

Aren't we doing this already for cucumber-ruby and cucumber-jvm?

[2020-06-23 07:36] vincent-psarga commented on #1369
Ah ok I did not see we were in the `cucumber-js` repo (that's the problem when checking notifications on the phone ...).

I guess it'd be doable, but I'm not sure we should do it in the monorepo itself, more in this repository. For ruby, we have two validations ran against the CCK:
 - one done in `cucumber-ruby`, which validates cucumber-ruby master against the latest release of messages (but uses

[2020-06-23 08:05] davidjgoss commented on #1369
@aslakhellesoy I'm working on #1318 right now which adds validation against CCK and updates to latest gherkin, messages etc. Just working through the remaining gaps, not long left! I think we'll be in good shape to release 7.0.0 after that.

I wanted to check your intent with the javascript CCK package actually - I noticed it was published to npm under `@cucumber/cck` a while ago but hasn't been u

[2020-06-24 02:24] BevanR commented on #1153
@charlierudolph Any thoughts on the above interface?

We are close to needing this enough to either contribute a fix, hack/fork to fix for ourselves, or put a bounty out. We'd much prefer to contribute an acceptable pull request.

[2020-06-24 16:33] charlierudolph commented on #1153
For custom processing of results, I'd suggest that be done in a separate process instead of being a part of cucumber. Otherwise, I think your proposal of adding an option makes sense. I would prefer something more like the following though:

[code]

[2020-06-24 16:37] aslakhellesoy commented on #1153
In light of recent events I'd like to propose we adopt a different terminology than master/slave. My suggestion: primary/secondary.

It's all over the Internet, but here is a place to start: https://www.inputmag.com/culture/github-others-are-replacing-racist-terms-like-master-slave

[2020-06-24 17:35] davidjgoss commented on #1153
I quite like hive/worker for the parallel thing

[2020-06-24 19:30] ambroiseRabier opened #1373 "Unable to make Typescript work on cucumber with react"
I have checked:
- https://github.com/hdorgeval/cucumber-ts-starter
- https://github.com/cucumber/cucumber-js/blob/master/docs/cli.md#transpilers

I have freshly created CRA (Create React App) project (with typescript feature at install).

Typescript files are ignored when putting `'` between the file path. Like `--require 'features/**/*.ts'`. A throw error on first line is getting ignored.

A NPM

[2020-06-24 19:41] ambroiseRabier commented on #1373
Ok wow, complaining on github does help fixing the issue.
So, add a tests.setup.js like said but with `module: "commonjs"`:
[code]

NPM script bellow:
[code]
double check that the path used by require is correct. Because if the file isn't found the CLU is not going to tell you.

[2020-06-24 22:07] BevanR commented on #1153
Many of the alternatives are also use socially charged terms. I think my favourite is `minion`!

Or just `worker` if we wanted something more neutral. `hive` doesn't make sense to me for the coordinator. `queenbee` would make more sense, but I don't think it is a good idea. `coordinator` is a good neutral term that describes the responsibilities clearly.

[2020-06-24 22:08] BevanR commented on #1153
@charlierudolph Could you elaborate a little more on this idea please?

[2020-06-24 23:33] Izhaki commented on #1373
This is odd. To save me time, can you share the repo? Exact steps to reproduce?

This is also odd. I reckon that if indeed such is the case it'll need a fix.

[2020-06-25 04:22] charlierudolph commented on #1153
I like coordinator / worker. I'll make updates to the code for that.

For this, I was thinking essentially something like a shell script that runs cucumber and after it exits, use another program for parsing the results (not totally sure what you are processing)

[2020-06-25 04:32] BevanR commented on #1153
The details we need in our results (URLs for Ghost Inspector result pages) are not available in Cucumber results objects. (Is the Cucumber result schema is extensible?) These URLs become available in the After step.

The approach you describe would require storing the URLs somewhere in each after step, then reading it elsewhere once cucumber is complete. I was hoping to avoid that. But it is the w

[2020-06-25 14:43] ambroiseRabier commented on #1373
@Izhaki I have made this repo for you: https://github.com/ambroiseRabier/temp-issue-cucumber

[2020-06-25 19:03] Izhaki commented on #1373
Which node version are you using?

[2020-06-25 21:34] Izhaki commented on #1373
Super useful.

# Commonjs

So create-react-app now defaults to `esnext`. This is not going to work with cucumber because Node doesn't support `import` statement (not in the way you would hope, anyway).

So if your files are typescript, cucumber has to be explicitly configured with `commonjs`.

I reckon people are going to experience this issue more and more.

So I'll fix the doc (I'll also promote

[2020-06-28 08:20] ambroiseRabier commented on #1373
I have renamed `cucumber` script to `cucumberTypescriptNo`.

About the quotation issue, I still have it. I have added two npm scripts:
[code]
The first lineis how I fixed the issue. Notice I did not change my original tsconfig.json, but made another one (tests.setup.js) with the help of the doc. However, if I follow the same steps as you, and modify my origial tsconfig.json and run `"cucumberIgnor

[2020-06-29 05:56] ajithmoorthy opened #1378 "cucumber_report.json file is not generated in vscode"
I am working in cucumber-protractor-typescript project
I want to generate the cucumber report.json file for my testing project.
when I am executing the "cucumber-js features/ -f json:report/cucumber_report.json" command in vs code
that time I got error like below:-
Error:
      You appear to be executing an install of cucumber (most likely a global install)
      that is different from your local

[2020-06-29 06:00] ajithmoorthy commented on #1378
I want to generate the HTML report for my project. so I need the .json  file for the test scripts.
so I am getting an error while generating the JSON file for Html Report. please help me.

[2020-07-04 19:46] sroze commented on #1369
Thank you @davidjgoss, looking forward to being able to use the new version. While this is being done, this is what I have to do in order to use the `master` version of `cucumber-js`. The main challenge is that every time I run `npm i` again, `npm` complains that `node_modules/cucumber` is a Git repository. Do you know a better way? 🤔

[code]

[2020-07-05 18:22] Izhaki commented on #1373
When requiring a file that isn't there, it fails silently because of [this code](https://github.com/cucumber/cucumber-js/blob/1b5fd1e7fc9e5710f6ff1c574e3a4feb63832ae0/src/cli/configuration_builder.ts#L120):

[code]

Basically, for a file that doesn't exist matches will be an empty array.

@charlierudolph I believe we should throw in such case. Any objections?

[2020-07-06 23:58] victoralvesf opened #1387 "The tagged hook is being executed, even if the scenario has not been executed"
I have a hook that executes after all tagged scenarios.

Even if i don't execute this tagged scenarios, the hook is being executed. What can be happening?

I'm using -t @tag to run my tests.

[code]

[2020-07-07 00:11] victoralvesf commented on #1378
Try running ```node ./node_modules/.bin/cucumber-js features/ -f json:report/cucumber_report.json```

[2020-07-07 19:56] davidjgoss commented on #1378
@ajithmoorthy I don’t think this is anything to do with the formatter, I think the messaging is right here.

- Do you have cucumber installed globally? See @victoralvesf  comment re running specifically the local install l
- Less likely, but are some of your steps in a separate package that has cucumber as a dependency as well? This can cause issues too especially if using npm link

[2020-07-08 08:08] ajithmoorthy commented on #1378
yep, I installed the cucumber globally.
but still, the command is not working for me.
I am working on the command which you suggested.
thanks for the reply my dear friend

[2020-07-08 10:46] radhikasivakumar commented on #709
I am also facing same issue in Java selenium.. How to fix this

[2020-07-09 15:37] ash8454 commented on #1302
Thanks for creating this bug @stefdelec . I am having the same issue where everything passes, the @rerun.txt is empty and is running all the features again which is not desired since all the tests passed.

[2020-07-09 17:49] suswariadla opened #1388 "Ability to name the hooks"
Hi,
I don't see there is an ability to add names to the Before and After hooks rightnow.
Can the team consider adding the ability to name Before and After hooks so that they appear in the json reporter.

[2020-07-10 05:25] mikejoo commented on #1038
Same issue as @yevgen-getalo here.

[2020-07-14 00:34] BevanR commented on #1153
@charlierudolph Would you (in principle) accept a pull request that implements your proposal from a few comments ago, but with `coordinator`/`worker` instead of `master`/`slave`?

E.g.

[code]

[2020-07-14 02:21] charlierudolph commented on #1153
Yep

[2020-07-18 07:29] adrien-carre commented on #1044
Hello,

I am in the same situation of database-reset situation as @stevecooperorg and would love as well the ability to parallel tests with tags.

At least i could do a "no database" group and a "using database" one.

[2020-07-20 23:19] alexkaufman06 opened #1393 "Feature Request: Give BeforeAll a reference to the Cucumber World object"
To get around this we've been rolling our own DI which is cumbersome. If this is by intention, I'm wondering why BeforeAll is not given this reference?

[2020-07-21 07:25] davidjgoss commented on #1393
Hi @alexkaufman06

The problem with giving `World` to `BeforeAll` comes from these two things:

- `BeforeAll` runs prior to, and independently of, all of the scenarios
- Each scenario when run gets its own dedicated instance of a `World`

So what `World` can we reasonably provide to `BeforeAll`? Maybe its own instance, but that would lead to a lot of unexpected behaviour as people wonder a) why th

[2020-07-21 15:50] charlierudolph commented on #1393
Thinking on this idea I think we could do something like the following:

* `this` in every BeforeAll / AfterAll hook is a single `testRunContext` (that starts as an empty object)
* World constructors are then passed the `testRunContext` as a parameter
* For `testRunContext` to work in parallel mode, we need `testRunContext` to be json serializable

[2020-07-21 16:24] charlierudolph commented on #1387
What cucumber version are you on?

BeforeAll / AfterAll hooks do not accept a tag as a first argument.
Before / After hooks accept a tag to conditionally run around only specific scenarios.

Hook documentation: https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/hooks.md

[2020-07-21 17:48] alexkaufman06 commented on #1393
@davidjgoss One use case is simply holding onto a reference for items that are ripe for reuse as well as gaining more autonomy in the execution flow. Specifically, it's things like storing access tokens and ensuring connections to faked downstream components that we're simulating are in place before we make any assertions.

@charlierudolph I like that idea!

[2020-07-21 19:37] victoralvesf commented on #1387
I kinda learned how to deal with his behavior, it makes sense run after all scenarios and not only for the tagged ones. Sorry for the dumb question.

[2020-07-21 19:37] #1387 closed

[2020-07-21 20:00] davidjgoss commented on #1393
@charlierudolph i like that. I think (maybe selfishly) it would be useful to have the test run context initialised with the world parameters too.

[2020-07-23 13:10] flywojt opened #1394 "this.attach in AfterAll hook"
I want to add a log file as an attachment to report after tests execution. I wanted to use AfterAll hook but according to this comment:  https://github.com/cucumber/cucumber-js/issues/1109#issuecomment-400542113
this is impossible. How can I achieve that? Is this possible to import attach method directly to AfterAll hook?

`
// This is not working as AfterAll hook dosn't have acces to World instan

[2020-07-24 12:02] ramanicsegnxt opened #1395 "SummaryFormatter is not working properly when we pass absolute path to feature"
We are using protractor and cucumber as our test framework. When we pass the feature file path as an absolute path from protractor config, we are facing issues after the test run is finished, JSON file is not generated.

Instead, we are getting error as

 **E/launcher - Error: TypeError: Cannot read property 'name' of undefined**

When I try to deep dive into the issue. I have noted that in the **

[2020-07-25 03:09] csalgo70 opened #1396 "Custom formatter not logging"
I am trying to learn how to write a simple custom formatter for Cucumber JS.

I have read https://github.com/cucumber/cucumber-js/blob/master/docs/custom_formatters.md

I tried this sample below. But it is not outputting anything. The documentation talks about setting up the underlying stream for the log function. But I don't see any stream option to set nor do the custom formatter samples have th

[2020-07-25 21:31] charlierudolph commented on #1396
What cucumber version are you running? Unfortunately we have a number of unreleased changes in master currently.

There are links to old version of docs in the README or you can try installing cucumber from source (by specifying the github url and the current commit at the tip of the master branch)

[2020-07-26 12:29] flywojt commented on #1393
@alexkaufman06 could you send code sample how you solve this problem? I have similar problem with AfterAll hook

[2020-07-27 18:13] csalgo70 commented on #1396
My current version is 6.0.5 which seems to be the latest version.

[2020-07-29 02:26] alexkaufman06 commented on #1393
@flywojt there are multiple files that make this happen in my repo. The real magic comes from using [Inversify](http://inversify.io/) to make it happen. Hopefully that helps or we can a better solution soon. I can try and share more info later if needed.

[2020-07-31 17:27] csalgo70 commented on #1396
I even cloned the repo and built it locally & then used the new js file but still the customer formatter doesn't seem to work. Any ideas ?

[2020-08-03 16:27] JamesAnderson982 opened #1402 "Cucumber/Protractor/Typescript (Syntax Error: Unexpected Identifier)"
Hello,

I am unable to generate the skeleton in the terminal for my first feature file by using protractor/typescript.
![image](https://user-images.githubusercontent.com/69161267/89204576-c3507d00-d5cf-11ea-9ad3-ef1fe152b362.png)

**Please anyone can guide me to resolve this error.**

**package.json**
{
  "name": "typescriptproject",
  "version": "1.0.0",
  "description": "Protractor  Framework",

[2020-08-04 19:50] davidjgoss commented on #1402
I think this would be best raised under https://github.com/protractor-cucumber-framework/protractor-cucumber-framework.

FWIW from the error and its stack trace, it looks very much like the protractor framework is trying to load/parse your feature file as though it's a JavaScript module, hence the syntax error. I think you're probably looking at a misconfiguration issue somewhere in that setup.

[2020-08-04 19:57] davidjgoss commented on #1396
@csalgo70 yeah I think you'd be better using the feature from the current published version as your reference, see https://github.com/cucumber/cucumber-js/blob/6.x/features/custom_formatter.feature.

New release should be coming very soon though.

[2020-08-05 03:52] #1402 closed

[2020-08-10 18:00] davidjgoss commented on #1290
Now that the cucumber org has control of the `@cucumber` scope on npm, do we want to rename the package to `@cucumber/cucumber` for the upcoming release?

[2020-08-10 21:43] aslakhellesoy commented on #1290
Yes, I think we should release as `@cucumber/cucumber` going forward!

[2020-08-11 03:29] manisshaa opened #1404 "Getting the parse error into a variable"
If the feature file is not in proper gherkin format, Cucumber shows a parse error on console and aborts the tests. Following is the code that does that (this is a snippet from cucumber > lib > cli > run.js

function exitWithError(error) {
  console.error(_verror.default.fullStack(error)); // eslint-disable-line no-console
  process.exit(1);
}

I want to capture this parse error into a variable or

[2020-08-12 13:50] Tallyb opened #1405 "cucumber.js unknown option"
I am using a cucumber.js file for profiles. My goal is to be able to transfer params that build the relevant profile (we have multiple options for which creating profile can be very challenging).

If I run `npx cucumber-js --a=a` I get an error : `error: unknown option '--abc'`
However, if I add some dummy param such as `npx cucumber-js dummy --a=a` the a parameter is available (using yargs.argv).

[2020-08-12 16:57] Tallyb commented on #1405
well, it boils down to the fact that I have 3 params, 2 with 3 possible values, and a boolean and any combination is valid. The profiles are cartesian multiplications. Then you had one more...

[2020-08-13 09:16] aslakhellesoy commented on #1405
I agree with @charlierudolph. Allowing any option to be passed to the command line interface makes it impossible to give good error messages when a use has a typo in a supported option. I'm not aware of any tools that allows passing arbitrary options, and see no reason for us to behave differently.

I recommend using environment variables for passing additional information to your code.

[2020-08-13 09:16] #1405 closed

[2020-08-13 20:38] wa-citadel opened #1406 "Browser runtime https://cucumber.github.io/cucumber-js/"
Hi,
Curious if there is an easy way for engineers to expose their tests, features, steps just like you do in https://cucumber.github.io/cucumber-js/ as a service.

[2020-08-14 10:14] aslakhellesoy commented on #1406
Hi @wa-citadel - we're planning on making an announcement of https://reports.cucumber.io next week. It will let you publish reports straight to the web. Initially only Cucumber-Ruby and Cucumber-JVM will be able to publish there, but as soon as https://github.com/cucumber/cucumber-js/pull/1318 lands, we can start implementing the new `--publish` option in Cucumber.js too.

[2020-08-15 02:38] csalgo70 commented on #1396
Thanks @davidjgoss . Look forward to the release. Feel free to close the issue.

[2020-08-15 10:41] #1396 closed

[2020-08-19 06:10] davidjgoss opened #1408 "Emit testCase messages before test run starts"
Currently cucumber-js emits `testCase` messages right before each test case will be run. The CCK defines that they should be emitted together at the start of the test run.

(We're temporarily reordering the envelopes in our CCK test instrumentation at the moment.)

[2020-08-19 06:26] davidjgoss opened #1409 "Don't rely on testStepResult.willBeRetried, it will be moved or removed"
The internal logic for handling retry in cucumber-js relies on the `TestStepResult` message having a `willBeRetried` property. This will need to change as per https://github.com/cucumber/cucumber/issues/902 this property will move to `TestCaseFinished`.

[2020-08-24 01:08] jacobwicks commented on #1308
I am trying to figure out how to pass feature files to cucumber as strings.

I have the same use case as @chamberlainpi , who asked here:

[code]

That is exactly what I want to do. I want to give my users a GUI that will let them create features. Then I want to take the features that they have created and pass them to cucumber as a parameter of an async function. I want to await the execution of

[2020-08-24 06:38] #1310 closed

[2020-08-26 06:41] dawn-minion opened #1412 "Custom formatters can only be loaded by relative path"
In [builder.ts#L107](https://github.com/cucumber/cucumber-js/blob/master/src/formatter/builder.ts#L107), we load custom formatters as relative to the current working directory. Unfortunately this means that if the package is not relative to the project we can't load it. In my particular case I'm trying to use Yarn PNP with the cucumber-pretty formatter, and with PNP the package will no longer be r

[2020-08-28 11:31] davidjgoss commented on #1269
Draft PR raised for DefinitelyTyped https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47104 - will be mergeable once we release 7.0.0

[2020-09-01 09:12] aslakhellesoy opened #1423 "Add --publish option"
Cucumber-JVM and Cucumber-Ruby now have a --publish option. More details here:

- https://github.com/cucumber/cucumber-jvm/blob/main/release-notes/v6.5.0.md
- https://github.com/cucumber/cucumber-ruby/blob/master/release-notes/5.0.0.md

We should implement this for Cucumber-js too. I'm happy to start on that with @sebrose and anyone else who wants to help out.

It's always hard to estimate how lon

[2020-09-01 11:02] davidjgoss commented on #1423
@aslakhellesoy I'm happy to help out with that as and when.

Regarding a 7.0.0, I think we just need to finish #1414, then merge #1411 and good to go - there may be something I'm missing though @charlierudolph?

[2020-09-01 11:03] davidjgoss commented on #1296
Closing as dup of newer #1423

[2020-09-01 11:03] #1296 closed

[2020-09-01 11:26] aslakhellesoy commented on #1423
Excellent! I'd love to include #1423 / #1424 in the 7.0.0 release. I think I'll be spending most of the time this week working on that. I'll update the PR with TODOs - then we can discuss how to split up the work.

[2020-09-01 22:02] aslakhellesoy opened #1425 "HTML Formatter"
Cucumber-JVM and Cucumber-Ruby now implement a `html` formatter based on the [standard html formatter](https://github.com/cucumber/cucumber/tree/master/html-formatter).

The implementations are here:

Java:

* [MessagesToHtmlWriter.java](https://github.com/cucumber/cucumber/blob/master/html-formatter/java/src/main/java/io/cucumber/htmlformatter/MessagesToHtmlWriter.java) (library)
* [HtmlFormatter

[2020-09-03 00:15] jbdoster commented on #1278
Is there a fix for this without clearing node cache?

[2020-09-03 19:01] OSjoerdWie commented on #1137
I'd like to have the argument (matches) specified as well in order to highlight them in my custom formatter.

[2020-09-04 15:40] VivekLande commented on #1077
Is this issue been fixed? I am still getting the same issue with version 6.0.5, could you please help us to resolve this?

[2020-09-04 15:51] aslakhellesoy commented on #1077
It's been fixed on the master branch, but hasn't yet been released. The next release will fix it.

[2020-09-04 16:02] VivekLande commented on #1077
Thanks for the confirmation. Could you please help us to know when we can expect the next release with this fix?

[2020-09-04 16:04] aslakhellesoy commented on #1077
Cucumber is mostly developed by volunteers in their spare time, so that's impossible to say. "Soon" is my best estimate.

[2020-09-04 16:12] VivekLande commented on #1077
Thank you so much for quick res

Hey @aslakhellesoy, Thank you so much for your quick response, much appreciated

[2020-09-04 18:47] davidjgoss commented on #1425
Yeah this should be fairly straightforward.

Should this be included by default in cucumber-js, or as an optional dependency?

[2020-09-04 20:07] aslakhellesoy commented on #1425
I don’t see any issues with making it a default dependency. We did that in Ruby and Java

[2020-09-06 07:31] #1269 closed

[2020-09-08 06:06] zbcjackson opened #1428 "Cannot install cucumber 7.0.0 from npm"
When I tried to install cucumber from npm via command:
[code]
and I got this:
[code]
I checked on npmjs.org. There is no package named `@cucumber/cucumber` but `cucumber` which is 6.0.5.

If 7.0.0 is released, please upload it to npmjs.org, otherwise, update README.md accordingly.

[2020-09-08 07:02] #1428 closed

[2020-09-08 07:17] davidjgoss commented on #1290
Per #1428 we have some confusion because of the state of master vs last published version.

Would it be worth doing a “soft” 7.0.0 release and then publicising a closely-following 7.1.0 that includes the reports stuff?

[2020-09-08 11:32] jonathanwork commented on #1326
did you try from node_modules in your local directory ?

[2020-09-08 16:20] VivekLande opened #1429 "Empty string in scenario step returning as null value in step-definition - in version 6"
Build: 6.0.5

When we pass an empty string in from feature file we are getting null value in step definition in version 6.
In version 5 for the same scenario, we were getting empty string in step-definition

[2020-09-10 02:38] x80486 commented on #1139
@Izhaki, the details are on the issue. For instance, if you want to reproduce this, grab [this](https://gitlab.com/vadimvera/cucumber-basics/) project and make the following changes:

1. Modify `bank-account.steps.ts` so this line: `import { BankAccount } from "../support/model/bank-account.model";` looks like this: `import { BankAccount } from "@model/bank-account.model";`
1. Add this line: `"--r

[2020-09-10 12:32] VivekLande commented on #1077
Hi @aslakhellesoy, could you please suggest any other way to handle this issue at our end? till the time you guys give fixed eg. overriding any cucumber lifecycle method, I need to handle this on priority, this issue totally blocking me to migrate from V5 to V6 of cucumber.

[2020-09-10 16:04] aslakhellesoy commented on #1077
Sorry, I don't have a workaround other than not using `$`.

[2020-09-12 16:47] deepziem opened #1433 "DeAsync and Async-utility not working"
DeAsync and Async utility are not working post cucumber 5.03 versions. Am not sure why ?
protractor 7+ cucumber 6 ..

It was working in lower versions of cucumber

[2020-09-14 10:35] aslakhellesoy opened #1437 "Remove browser example"
I'm about to make a release, and the release instructions tell me I should verify that the browser example works. I'm struggling to make it work, and I doubt many people are using it. I would like to remove it. It's too much to maintain and I don't see the value in it.

[2020-09-14 10:39] aslakhellesoy opened #1438 "Release using `cucumber-build` Docker image"
The current release process from Travis is insecure. An attacker could get commit access to the repo, push a commit that prints out tokens and then make a malicious release.

To fix this we should not be doing releases from CI, but instead do it locally. We can use the same approach used by [cucumber-ruby](https://github.com/cucumber/cucumber-ruby/blob/9a6e7be4b280d0aaf7900eeeb2f45f7389351af2/Make

[2020-09-14 10:41] aslakhellesoy commented on #1438
I have removed `GITHUB_AUTH_TOKEN` and `NPM_AUTH_TOKEN` from Travis to plug this security hole immediately.

[2020-09-14 11:04] davidjgoss commented on #1437
To be honest I’ve wondered for a while what the use case is for running cucumber in the browser rather than in Node (aside from the kind of interactive demo the browser example gives)

[2020-09-14 11:26] aslakhellesoy commented on #1437
I think it was a pipe dream @jbpros had 10 years ago that never came to fruition :-)

[2020-09-14 14:14] alexkaufman06 commented on #1393
@davidjgoss @charlierudolph checking in on this issue. The solution Charlie mentioned seemed practical and helpful.

[2020-09-14 15:08] jbpros commented on #1437
Not true! ;) One use case was at the BBC, we embedded a suite run on a USB stick to run on smart TVs. The whole thing was running on the browser and sending results back through XHR! Amazing tech ;)

It was also to align with jasmine in-browser runners and other similar approaches, back in the day...

Anyway, now that we have cucumber-electron and how things have matured generally, I think we can

[2020-09-14 15:13] deepziem commented on #1437
@jbpros Here are my thoughts .. if you need electron based cucumber / web testing [ browser ?] to be faster then they need to have core javascript replacing the selenium API's. was there/is there a library that can give a testing framework?

Else you still need the element based actions that selenium provides and it will back to same speed right ?

[2020-09-15 06:59] aslakhellesoy commented on #1438
This is fixed on master

[2020-09-15 06:59] #1438 closed

[2020-09-15 07:13] aslakhellesoy opened #1439 "Wrong version in meta message"
The version number in the `meta` message is incorrect. Here is an example generated with 7.0.0-rc.0:

[code]

My hypothesis is that [readPkgUp](https://github.com/cucumber/cucumber-js/blob/3e0c21174fc86603f452106543912e52935e9341/src/cli/helpers.ts#L114) picks up a different `package.json` than our own.

[2020-09-15 08:40] aslakhellesoy opened #1440 "Create new cucumber package depending on @cucumber/cucumber"
This is to make sure people who rely on dependabot, renovate and the like get notifications about the new version.

It should have a post-install message encouraging people to change to `@cucumber/cucumber`

We should release this for every 7 RC, as well as the first final 7.

[2020-09-15 15:38] kamolins commented on #1394
@flywojt Did you find a solution to your problem or do you still require assistance?

[2020-09-16 02:16] charlierudolph commented on #1394
No, it is not currently possible. This is mainly due to the idea that attachments are added to a particular test and we don't have the concept of adding a file to the run as whole. What is the use case that you want to attach it in after all instead of after?

[2020-09-16 06:14] flywojt commented on #1394
@kamolins no, I didn't

@charlierudolph I am adding log files with request/response from REST API and another file with information about testing env. For now, I am using step at the end of every feature file but this is not a clean solution, as I am attaching these same files many times.

[2020-09-16 14:35] wa-citadel opened #1441 "Is there a getTimeout function ?"
If you use `{timeout: 60 * 1000}`  like mentioned here ==> https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/timeouts.md

is there a way to get this timeout value inside of the handler ?

[code]

[2020-09-16 20:32] davidjgoss commented on #1440
I guess the downside of this is that if users installed it, they'd have to change their support code to import from the new package, and their IDE/linter may then get mad at them for importing something that's not a direct dependency.

An alternative might be to release a 6.0.6 or 6.1.0 (for dependabot and friends to still kick in) and then [npm deprecate](https://docs.npmjs.com/cli/deprecate) it

[2020-09-16 20:42] aslakhellesoy commented on #1440
Oh I wasn't aware of the deprecate feature. Yes, that would be better. I'm not sure what we could possibly release though. Maybe just a `6.0.6` patch release that only adds a deprecation warning?

That sounds better. Suggested message:

[code]

[2020-09-16 22:03] kamolins commented on #1394
Are you using a custom reporter or an open source one to generate the report?

[2020-09-16 22:42] davidjgoss commented on #1441
I think something like this should work:

[code]

[2020-09-16 23:40] kamolins commented on #1309
@davidjgoss

Not sure if this is a valid solution, but changing `match` to `includes` [here](https://github.com/cucumber/cucumber-js/blob/3e0c21174fc86603f452106543912e52935e9341/src/pickle_filter.ts#L120) should fix the issue.
If this is an acceptable fix, I can make a PR!

[2020-09-17 12:09] wa-citadel commented on #1441
that's what I ended up doing, there isn't a way to access a step options/config within the step handler.

[2020-09-17 12:40] sroze commented on #1369
May I be annoying and chase on the following to cut a release?

1. ✅  @aslakhellesoy the dependencies have been upgraded indeed.
2. ✅ @davidjgoss's (massive) work on CCK has been merged (which rightly identified the `testResult` -> `testStepResult` issue)

[2020-09-17 13:17] aslakhellesoy commented on #1440
I am updating the migration guide in `CHANGELOG.md`

[2020-09-17 13:17] aslakhellesoy commented on #1369
We actually did cut a release @sroze. Try out `@cucumber/cucumber` - this is a prerelease. See [migration guide](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md#700-rc0-2020-09-14) for how to update.

[2020-09-17 14:59] sroze commented on #1369
Oh great, I'll give it a try, thank you! Didn't know because no tag was pushed 🙃

[2020-09-17 16:45] davidjgoss commented on #1440
Message LGTM. We could show at runtime as well similar to how we now do with the publish banner?

[2020-09-17 20:45] aslakhellesoy commented on #1441
What do you need it for?

[2020-09-17 20:46] aslakhellesoy commented on #1440
I think as a post-installation message is sufficient. Gotta be careful not to be too noisy!

[2020-09-17 21:24] aslakhellesoy commented on #1440
@davidjgoss @charlierudolph how about something like this? https://github.com/cucumber/cucumber-js-package-upgrade/

It prints the README in the console (with some highlighting) after installation, but also at runtime. It's a bit noisy, but I think that's ok since it is a major version they will only stay at for a short moment.

I think this needs to be a major release. Releasing it as 6.0.3 or 6.

[2020-09-17 21:39] lodizn opened #1443 "Calling steps from step definitions"
How do I call a step from a step definition in Javascript?

See example:

Given('I open the app', async () => {
  console.log(`the app opens`);
});

Then('Calling step within', async () => {
  // call the step : "I open the app"
});

[2020-09-17 21:56] aslakhellesoy commented on #1443
You can't. This is better:

[code]

[2020-09-17 21:57] #1443 closed

[2020-09-17 22:03] #1423 closed

[2020-09-17 22:07] aslakhellesoy commented on #1369
Thanks for the heads up @sroze - I had indeed forgotten to push the tag. It's up now.

Any thoughts about a package like this to help more people discover the new version?
- https://github.com/cucumber/cucumber-js/issues/1440
- https://github.com/cucumber/cucumber-js-package-upgrade/

[2020-09-18 08:08] aslakhellesoy commented on #1440
I've installed this as a `"cucumber": "cucumber/cucumber-js-package-upgrade"` dependency in a project and it seems to work fine:

* `require "cucumber"` works as in 6.0
* I see the post-install and runtime warning to upgrade to `@cucumber/cucumber`
* I see the publish banner
* No other changes were necessary (this wasn't a TypeScript project)

I'll go ahead and release this so people on `cucumber`

[2020-09-18 08:18] aslakhellesoy commented on #1440
Done! https://www.npmjs.com/package/cucumber/v/7.0.0-rc.0

Let's release another one when we make 7.0.0 final (as well as any RC releases in-between). The release process is the same as for cucumber-js.

[2020-09-18 08:18] #1440 closed

[2020-09-18 15:10] aslakhellesoy opened #1444 "Fail the build if there are CVE issues in the repo"
The CI process should fail the build if dependabot or other have discovered a CVE alert in a (transitive) dependency

[2020-09-19 17:28] aslakhellesoy commented on #1440
I've deprecated it too:

[code]

[2020-09-24 11:45] akbbhatt opened #1447 "BeforeAll executes without considering the tags provided"
BeforeAll is getting executed even if my protractor.conf.js file contains another cucumber tag(say @apiTest) specified. I was thinking that this BeforeAll block will execute only before any feature/scenario with @testTag is executed.

BeforeAll({ tags: '@testTag' }, () => {
  console.log(`from before all`);
});

[2020-09-24 14:18] scotch83 commented on #1139
@arjunjh10

I am interested to hear how such a file would look like

[2020-09-24 19:05] davidjgoss commented on #1447
Per the docs at https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/hooks.md BeforeAll does not support tags - it runs once at the start of the test run and it not linked to any specific scenario.

If you want to run some code before each scenario, and filter that based on tags, then you probably want to use Before instead

[2020-09-24 19:05] #1447 closed

[2020-09-24 19:58] stevenmhunt commented on #751
@mattwynne @charlierudolph I started creating set of add-ons for Cucumber.js called [cucumber-extra](https://github.com/stevenmhunt/cucumber-extra) and one of the tools generates the `./cucumber.js` using a yaml file. It would be awesome to have support for this built-in to Cucumber.js itself, but at least it's possible to get this experience now through an existing package.

[2020-09-25 10:11] akbbhatt commented on #1447
Thanks for answering David.
I need to execute setup scripts only once before executing some of my feature files or scenarios. But these setup scripts are not required for all the feature/scenarios mentioned. This is the reason I want the setup scripts to be executed only when it's really necessary based on the tags mentioned at the feature file level.
I found a workaround for this by reading the t

[2020-09-30 22:46] #1439 closed

[2020-09-30 22:49] aslakhellesoy opened #1448 "Deprecate cucumber in favour of @cucumber/cucumber"
I think both users and maintainers would benefit from more people upgrading to `@cucumber/cucumber`.

One thing we could do is to `npm deprecate` v6 and below. We've already trialled that with [7.0.0-rc.0](https://www.npmjs.com/package/cucumber/v/7.0.0-rc.0).

We should wait until `7.0.0` is released, but other than that, does anybody have any objections? /cc @charlierudolph @davidjgoss @vincent-p

[2020-09-30 22:54] aslakhellesoy commented on #1448
Current stats:

- [cucumber: 480k weekly downloads](https://www.npmjs.com/package/cucumber)
- [@cucumber/cucumber: 10k weekly downloads](https://www.npmjs.com/package/@cucumber/cucumber)

This is in large part due to it being a release candidate, but I would be surprised if the changed namespace wouldn't also be a barrier.

We could postpone the deprecation until a few weeks after `7.0.0` drops an

[2020-10-02 08:17] #1425 closed

[2020-10-05 22:48] davidjgoss commented on #1448
I think this makes sense.

Not sure how much difference it will make but I think we should link to the new package in our deprecation readme so it's easy for users who land on https://www.npmjs.com/package/cucumber from a search. I've raised https://github.com/cucumber/cucumber-js-package-upgrade/pull/1 for this.

[2020-10-05 23:13] davidjgoss commented on #1309
Hi @abhinaba-ghosh, the `--name` argument treats the input as a regular expression, so if you have characters like parentheses you should be able to escape them. For example:

[code]

Does that work?

[2020-10-06 05:10] abhinaba-ghosh commented on #1309
It works! Thanks for the help.

[2020-10-06 05:11] #1309 closed

[2020-10-09 03:20] vytch commented on #1437
Hi, I was really interested in that browser example. I am trying to make it work also and it might not be working with the current version of cucumber.

For example the example code does not match the current typescript definition.

Would it be ok to update the example to reflect the current type definition?

Thanks

Vy

[2020-10-09 07:49] davidjgoss commented on #1437
@vytch whats your use case for running cucumber in the browser vs in node?

[2020-10-09 11:22] vytch commented on #1437
@davidjgoss I wanted to write a chrome extension.

[2020-10-09 19:58] oleduc opened #1453 "Step exception no longer accessible in step results"
In version 4 of cucumber it was possible to access the exception which caused a step to fail in a custom formatter.
[code]

In version 7, out of the box there is only a "message" property which contain a serialized stacktrace but that's it.

Here is an example test step object:
[code]

We are currently porting our test suite from version 4 to version 7 and we had a custom formatter which displayed

[2020-10-09 21:48] aslakhellesoy commented on #1453
It wouldn’t hurt to bring this back would it @charlierudolph @davidjgoss ?

[2020-10-10 16:55] charlierudolph commented on #1412
Can you give a more detailed example of how to reproduce your issue? (ie exact steps of what you are trying to do)

[2020-10-10 17:15] charlierudolph commented on #1412
Hmm, okay so PNP definitely changes a lot of things here. I'd be okay with the following:
* when loading a node module just use the name
* to load via local paths, you are required to have a leading `.` (similar to how general require works)

[2020-10-11 14:47] plocket opened #1454 "Repo issue template doesn't contain correct address for support forums/questions"

[2020-10-11 14:51] plocket commented on #1454
I think I misunderstood something about the page. I apologize.

[2020-10-11 14:51] #1454 closed

[2020-10-12 06:29] dawn-minion commented on #1412
Would the second requirement break existing users though? In the current setup I have (before the PNP switch) it was always `--format=node_modules/cucumber-pretty` since that just worked. Not that it's a big deal, but thought I'd ask

[2020-10-12 07:38] jbpros commented on #1437
@deepziem the DOM API is all you need, really. Now if you want so more declarative/expressive API, there are several tools out there. [browser-monkey](https://browsermonkey.org/#/introduction) is one of them.

[2020-10-12 07:39] jbpros commented on #1437
@vytch what did you want the chrome extension to do?

[2020-10-12 11:00] vytch commented on #1437
Hi,
I am writing a chrome extension to help doing accessibility testing using a chrome extension.
The chrome extension runs a test suite, similar to a classic end-to-end test and run axe when the dom changes.
I have done that already and I am happy with the result.

One feature I wanted to add is Gherkin support. Because I wanted to hand that tool over to people with little programming skills. Als

[2020-10-13 12:51] bankimzededa commented on #1412
Hi,

Is there any way I can disable all logs from cucumber, I need to show only details regarding failed test. Right now cucumber is printing all tests details including passed and failed.

Thanks
Bankim

[2020-10-13 21:12] oleduc commented on #1453
Oh that is fine so long as the exception is accessible somewhere along the way.

[2020-10-14 02:14] vytch commented on #1437
Hi,

Thank you for your replies, I ended up working with gherk which is more suitable to my needs.

Thanks

[2020-10-14 06:06] charlierudolph commented on #1453
Hmm, I think for this we may want a new field on result in cucumber messages. Maybe `details` and it could be a json string that can have more structured error information?

[2020-10-14 06:10] charlierudolph commented on #1412
@bankimzededa please use the support channels listed on the readme or review the [formatter documentation](https://github.com/cucumber/cucumber-js/blob/v6.0.5/docs/cli.md#formats). I'd like to keep each issue as a targeted discussion.

@dawn-minion yep that would be a breaking change, though I think a pretty minor one since its super easy for someone to fix)

[2020-10-14 06:34] dawn-minion commented on #1412
Sounds good then, will update the PR to switch based on a leading `.`.

[2020-10-15 08:21] looeee commented on #1304
I'm getting exactly the same error as in the original comment. I'm not sure if something has changed since then, but I was able to get this working by changing the file extension to .mjs:

`/some/path/cucumbertest/features/step_definitions.js`

=>

`/some/path/cucumbertest/features/step_definitions.mjs`

Now ` import { Given, When, Then } from "cucumber";` works as expected.

This is in spite of h

[2020-10-15 11:54] looeee commented on #1304
This doesn't work. I get the same message.
I have "type": "module" in package.json and the rest of my project is using modules so changing that is not an option.

If I use either of these:

[code]

I get the same error message as the original post.
If I change to

[code]

Then I get this message:

If I rename `step_definitions.js` to _either_ `step_definitions.cjs` or `step_definitions.mjs`, it ju

[2020-10-21 05:52] charlierudolph opened #1457 "Intermittent publish failures"
Seen the following intermittently on CI:

[code]

[2020-10-21 05:53] charlierudolph commented on #1457
So far seen two instances of this on windows Node 10

[2020-10-21 06:21] charlierudolph commented on #1457
Another on appveyor Node 12

https://ci.appveyor.com/project/charlierudolph/cucumber-js/builds/35868261/job/7lrpwx471aemhe4y

[2020-10-21 10:13] aslakhellesoy commented on #1457
Thanks @charlierudolph we'll have a look at this. cc @vincentcapicotto @vincent-psarga

[2020-10-22 12:35] OhadR opened #1458 "Cucumber logs"
tried to search here and the web for this issue, yet i could not find anything helpful... Forgive me If I missed something...

I use the latest cucumber.js. It works like a charm; all output is logged to the console output.

My question is - can it write the output also to a log file? so it can be published later on?

In my case I use AWS CodeBuild to run cucumber. After it finishes, I would like

[2020-10-22 13:32] aslakhellesoy commented on #1458
Hi @OhadR

Thanks for trying out Cucumber Reports and glad you like it!

We're aware that reports are clumsy to use at the moment for the exact reason you're describing. They get a new URL every time!

We're working on fixing this (started today actually!). Soon you'll get a stable URL where all of your reports can be listed. For example `https://reports.cucumber.io/github.com/myorg/myrepo`. On th

[2020-10-22 13:53] OhadR commented on #1458
thank you so much @aslakhellesoy ! it really sounds great!

so glad to hear you start working on this today - great minds think alike :-)

BTW feel free to drop this answer here: https://stackoverflow.com/questions/64482425/cucumber-js-logging-log-to-a-file and I will accept/upvode/etc :-)

[2020-10-25 01:05] remarkablemark opened #1459 "Installation instructions for cucumber@6 is incorrect"
The [README](https://github.com/cucumber/cucumber-js/tree/2f2912b58b99a7227403a696f120ef17413a4d30#6xx-and-below) says to install cucumber 6.x.x, one should run:

[code]

But when I did that, it installed `cucumber@7.0.0-rc.0`:

[code]

I ended up doing the following to install `cucumber@6`:

[code]

[2020-10-25 18:52] michaelm-rsi opened #1460 "Insufficient documentation in CLI.md"
In the docs currently:

So how the HELL are we supposed to do explicit loading??  That's documented nowhere.

[2020-10-25 21:20] aslakhellesoy commented on #1460
Please use a more courteous tone and I might be inclined to give you some pointers.

[2020-10-25 21:31] #1459 closed

[2020-10-25 21:31] davidjgoss commented on #1459
Thanks for raising @remarkablemark, I've made the change.

[2020-10-25 21:40] davidjgoss commented on #1290
@charlierudolph @aslakhellesoy do we feel ready for 7.0.0? We do have https://github.com/cucumber/cucumber-js/pull/1416 open still

[2020-10-25 21:41] michaelm-rsi commented on #1460
It took 4 more hours, but I found an example in a stack overflow post on about page 4 of google's results

`cucumber.js test/functional/features/xyz.feature
--require test/functional/step_definitions/
--require features/support/ --format=pretty`

The docs do not point out the --require opt can be called multiple times. This is highly non-standard so it needs to be documented.  The documentation im

[2020-10-25 23:18] mattwynne commented on #1460
Hi @michaelm-rsi, welcome to the Cucumber community 😃👋

I'm glad you've found your answer. I can see you were really frustrated because the documentation was incomplete. Thanks for your offer to help improve the docs, that's much appreciated. There are thousands of imperfections all over the Cucumber codebases, and it's thanks to people who take the initiative to scatch their own itches that these

[2020-10-26 13:05] DevSide commented on #1202
Yes it's a bug, the total execution time in parallel looks like the sum of each slave execution time.

[2020-10-29 15:17] sergueyarellano commented on #1458
Started a new project today, as always I use cucumber, and to my surprise, I see that I installed an RC version. I was a little reluctant at first, but seeing the `--publish` feature I have to say you guys nailed it. Before that, I had to create my own artifacts in the CI and upload them to an existing storage bucket and what else.

Thanks, people!

ps, I'm working on some tutorials on `how to BDD

[2020-10-30 19:27] mrklkrl opened #1461 "no type inference in scenario outline"
In the original cucumber (non @cucumber/cucumber), I could associate multiple step-definitions with the same gherkin statement and the correct step definition would be called based on type inference. for example, I could have:

[code]

I could have in my step_defintions

[code]
and
[code]
and cucumber was able to find these by type inference. It worked well and allowed for a lot of code reuse.

Ho

[2020-10-30 21:09] aslakhellesoy commented on #1461
Can you please share the full ambiguity error message?

[2020-10-30 21:12] mrklkrl commented on #1461
redacting specifics... but

[code]

[2020-10-30 21:13] mrklkrl commented on #1461
It seems to have trouble differentiating an int and a float when an int is passed in. however, when a float is passed it works ok.

[2020-10-30 21:16] mrklkrl commented on #1461
strings seem to be ok too on a second look. I guess we're just able to differentiate ints and floats.

[2020-11-12 18:23] kalebhushan opened #1473 "Protractor with cucumber AfterStep hook throws TypeError: cucumber_2.AfterStep is not a function"
I am trying to run a cucumber feature file and I would like to capture a screenshot in the cucumber html report after each step of the test. I used a AfterStep hook as follows (I have also used After, Before and BeforeAll hooks all of which run fine):

[code]
When I try to run my test, I get an error

[code]
I tried to modify the `node_modules/@types/cucumber/index.d.ts` file and added the followi

[2020-11-16 13:44] Adam-ARK commented on #997
This has been added as apart of https://github.com/cucumber/cucumber-js/pull/1416

[2020-11-16 15:38] Adam-ARK commented on #997
Closing this issues since the hooks have been added in https://github.com/cucumber/cucumber-js/pull/1416

[2020-11-16 15:38] #997 closed

[2020-11-18 13:27] davidjgoss commented on #1473
Hi @kalebhushan - we just merged support for `BeforeStep` and `AfterStep` via #1416 in the last couple of days, and it's not released yet but should be very shortly with 7.0.0.

[2020-11-20 13:45] TillaTheHun0 commented on #1203
For anyone visiting this for Cucumber v7.

As of Cucumber v7, I was able to run `cucumber-js --require-module esm --require 'test/specifications/**/*.js' test/specifications/**/*.feature` and successfully execute my tests. 👍

[2020-11-20 13:46] TillaTheHun0 commented on #1203
For anyone visiting this for Cucumber v7.

As of Cucumber v7, I was able to run cucumber-js --require-module esm --require 'test/specifications/**/*.js' test/specifications/**/*.feature and successfully execute my tests. 👍

`@cucumber/cucumber@7.0.0-rc.0`
`esm@3.2.25`

[2020-11-23 12:34] j320 opened #1474 "Allow to run arguments from other CLI in version 7"
Since Cucumber is a test runner that's be used in test frameworks, it's very useful to be able to use command line arguments from the test framework being used. This is currently possible in Cucumber < 7 (except in parallel), in 7 the result is `unknown option --<argument>`

I know that other tools don't generally allow this but I think that for cucumber it does make sense since it's agnostic to t

[2020-11-24 22:11] davidjgoss commented on #1474
Hi @j320

I just tried this with cucumber 6.0.5, without parallel (on [this example project](https://github.com/davidjgoss/cucumber-puppeteer-typescript-starter)), and still got the (expected) behaviour of an error for an unknown option:

[code]

Are you able to publish a minimal repro somewhere?

At any rate, I doubt supporting arbitrary command line options in order to have them picked up by oth

[2020-11-25 00:23] j320 commented on #1474
Hi @davidjgoss,

Thanks for your reply.

Interesting, I can get you a small repo, however I'm using Detox for React Native mobile testing, therefore there'll be some time on your side to get an app built + simulator and stuff, if you're interested I'll happily get a repo for you. Here's a small documented example where you can see how the scripts look like.

So you're saying that using world param

[2020-11-26 15:35] #1412 closed

[2020-11-26 16:25] karlmarxlopez commented on #1474
@davidjgoss I have the same use case as @j320. I think cucumber should only validate CLI arguments that it expects and allow others to pass through, just like `--configuration` for detox?

For example
[code]
Or a more explicit way
[code]

[2020-11-26 19:10] karlmarxlopez commented on #1474
NVM @davidjgoss, I did a workaround by dynamically selecting the configuration based on the environment variable.

I came up with this solution.

You can run it by doing
`yarn DETOX_PLATFORM=android DETOX_BUILD_FLAVOR=debug cucumber-js`
or adding a command alias to your package.json
[code]

[code]

[2020-11-26 19:23] j320 commented on #1474
@karlmarxlopez That works for selecting configuration, however there's a broad Detox CLI, for example to set the log level or recording videos, headless and more. Therefore we still need to be able to pass the arguments for those.

[2020-11-26 20:05] karlmarxlopez commented on #1474
@j320 Yup, I agree. Hopefully, they will resolve this in the next release.

[2020-11-27 09:59] davidjgoss commented on #1290
Closing this now we (I think) have all the big changes in for 7.0.0 that we wanted.

Not sure if we want to do another RC before an official 7.0.0?

[2020-11-27 09:59] #1290 closed

[2020-11-27 10:02] davidjgoss commented on #1474
Again, I think this is misguided. Another example of a problem that could arise, there's currently a piece of work ongoing under #1434 to add a `--config` option to the cucumber-js CLI. It's basically just luck that it's not a naming collision with the `--configuration` one that you want. And there could easily be a naming collision in future between cucumber-js and Detox or another tool.

Detox h

[2020-11-27 12:07] karlmarxlopez commented on #1474
@davidjgoss Yup, I'm (we) are using `detox.init()` method on the `hooks` of cucumber, but you can't pass a flag like `--headless` and other args/flags (as @j320 mentioned) on the configuration.

The workaround I posted above is to dynamically set a single configuration, which `Detox` automatically selects.

[2020-11-28 15:23] davidjgoss commented on #1433
@deepziem could you expand a bit on exactly what you're trying to do, the expected result, and what you actually see? Please also include the version of cucumber-js you're using.

[2020-11-28 15:26] davidjgoss commented on #1474
Having seen https://github.com/wix/Detox/issues/2487#issuecomment-734929243 (thanks @karlmarxlopez for linking that up) I think we can close this, Detox's change seems like the right way to me.

[2020-11-28 15:26] #1474 closed

[2020-11-28 15:43] #1458 closed

[2020-11-28 15:44] davidjgoss commented on #1437
@charlierudolph @aslakhellesoy what do we think on this? Pre 7.0.0 would be a good time to do it if we're going to.

[2020-11-28 15:47] #1378 closed

[2020-11-28 16:35] psa-anddev opened #1475 "Running Cucumber-js in a Kotlin multiplatform project"
I'm working in a small Kotlin Multiplatform project and I want to use Gherkin to write my acceptance tests. I have been able to configure Cucumber in the JVM sources (one for the back-end and another for the Android app). I'm trying to configure Cucumber JS for the web front-end but I am unable to make it work.

I have tried to use Karma (since it is the default framework that Kotlin JS uses) to i

[2020-11-28 17:27] davidjgoss commented on #1395
Thanks for reporting @ramanicsegnxt.

This should be fixed in the forthcoming 7.0.0 release, where the events model is significantly reworked and the internal maps of test case attempts etc are no longer keyed on the colon-separated expression you mentioned, but rather using a simple unique id.

In the meantime you should be able to verify this using the [release candidate of `@cucumber/cucumber`]

[2020-11-28 17:31] davidjgoss commented on #1475
Hey @psa-anddev, are you able to put a repo up where we can reproduce, or perhaps point me at an example/starter project with Kotlin and Karma so I can see how that hangs together?

Cucumber does the job of a test runner, so I would generally expect it to _replace_ Karma in doing this, but it could potentially work with it as well.

[2020-11-28 19:11] davidjgoss commented on #1262
Closing as this has gone quiet.

[2020-11-28 19:11] #1262 closed

[2020-11-28 19:20] davidjgoss commented on #1202
The summary formatter output has now been made clearer so it tells you both elapsed real time and aggregate time of running steps (excluding cucumber's internals):

![image](https://user-images.githubusercontent.com/3192745/100524284-b2df9600-31ae-11eb-95d2-22f0e3ebf259.png)

This will be available shortly in 7.0.0.

[2020-11-28 20:15] kalebhushan commented on #1473
Perfect. Thank you so much.

[2020-11-28 20:15] #1473 closed

[2020-11-28 23:01] psa-anddev commented on #1475
I pushed what I have so far to a git repo. You can check it out here. https://github.com/psa-anddev/hotel

[2020-11-29 09:19] OhadR commented on #1458
@davidjgoss why this issue is closed? the issue is solved? can i write the report to a file? ir is there a private domain the reports are writeen to?

[2020-11-29 11:20] davidjgoss commented on #1458
@OhadR sorry, it looks like the original question re how to direct the console output to a file has been answered - what’s outstanding? Being able to generate the HTML report locally?

[2020-11-29 13:30] davidjgoss commented on #1404
The messages protocol [includes a `ParseError` message type](https://github.com/cucumber/cucumber/pull/969), so if we start emitting these before we exit then we should be able to pick up from message formatter output. I'll look at doing this change before 7.0.0

[2020-12-01 06:51] code4muktesh commented on #1077
@aslakhellesoy  As per [this](https://github.com/cucumber/cucumber/commit/bb8579420125eb2a655e7a693bef653f544b2313 )  issue is fixed.
But, Cucumber-js v6.0.5 is still pointing to [gherkin version 5.0.0](https://github.com/cucumber/cucumber-js/blob/v6.0.5/package.json#L168)

Is there any plan to release the Cucumber-js v6.x with this fix?

[2020-12-01 07:34] #1460 closed

[2020-12-01 15:44] OhadR commented on #1458
@aslakhellesoy said you guys are working on a new project: " you'll get a stable URL where all of your reports can be listed". when it will be done?

[2020-12-01 17:35] jradom opened #1487 "mixing Cucumber/Gherkin with Mocha"
Are there any ways to use Mocha related code besides the hooks?  We have a framework based on Mocha but want to extend it allowing to use of Cucumber/Gherkin.  Please, let me know

Thanks

Jeff

[2020-12-01 23:22] binarymist opened #1489 "getTestCasesFromFilesystem seems to be inaccessible"
I've posted a message on the Slack, @Raymond also posted there on Feb 29.

I've searched for related issues and found #1220 which is how I used to do it.

I've just upgraded from 5.1.0 to 7.0.0-rc.0, I've read the Changelog. It appears that there is no longer a way to access `cucumber.getTestCasesFromFilesystem`, although the routine that does the work still appears to be in dist/cucumber.js.
Is t

[2020-12-02 10:09] binarymist commented on #1489
I've consolidated the needed code, although it's still tied to an old version of gherkin.

[2020-12-02 10:39] davidjgoss commented on #1489
Hi @binarymist, this area has been refactored, the loading of features from the file system is now handled by the Gherkin library.

Could you expand a little on your use case - e.g. is it some reporting you want to do as part of the run? There'll be a way, just want to understand your requirement.

[2020-12-02 13:49] davidjgoss commented on #1487
What aspects of mocha are you looking to use within cucumber?

Mocha and cucumber are both test runners so wouldn't normally expect to mix.

[2020-12-03 02:07] binarymist commented on #1489
Hi @davidjgoss... Thanks for you response.

Yeah, so at this stage we (the back-end) send back the test plan (the concatenated feature file contents that comply with the tags) to the purpleteam CLI that will run, the plan is printed to screen. Does that make sense and is it enough information? Basically the `getTestCasesFromFilesystem` was exactly what we needed and were using... until we upgraded

[2020-12-04 20:41] automatekitbox opened #1491 "Build issues for typescript"
node_modules/@cucumber/messages/dist/src/index.d.ts:9:25 - error TS2732: Cannot find module '../package.json'. Consider using '--resolveJsonModule' to import module with '.json' extension

9 import { version } from '../package.json';
[code]

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1492 "CVE-2019-8331 (Medium) detected in bootstrap-3.3.2.min.js, bootstrap-3.3.6.min.js"
## CVE-2019-8331 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.2.min.js</b>, <b>bootstrap-3.3.6.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.2.min.js</b></p></summary>

<p>The most popular front-end framework for developing r

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1493 "CVE-2018-14040 (Medium) detected in bootstrap-3.3.2.min.js, bootstrap-3.3.6.min.js"
## CVE-2018-14040 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.2.min.js</b>, <b>bootstrap-3.3.6.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.2.min.js</b></p></summary>

<p>The most popular front-end framework for developing

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1494 "CVE-2018-20677 (Medium) detected in bootstrap-3.3.2.min.js, bootstrap-3.3.6.min.js"
## CVE-2018-20677 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.2.min.js</b>, <b>bootstrap-3.3.6.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.2.min.js</b></p></summary>

<p>The most popular front-end framework for developing

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1495 "CVE-2018-14042 (Medium) detected in bootstrap-3.3.2.min.js, bootstrap-3.3.6.min.js"
## CVE-2018-14042 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.2.min.js</b>, <b>bootstrap-3.3.6.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.2.min.js</b></p></summary>

<p>The most popular front-end framework for developing

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1496 "CVE-2018-20676 (Medium) detected in bootstrap-3.3.2.min.js, bootstrap-3.3.6.min.js"
## CVE-2018-20676 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>bootstrap-3.3.2.min.js</b>, <b>bootstrap-3.3.6.min.js</b></p></summary>
<p>

<details><summary><b>bootstrap-3.3.2.min.js</b></p></summary>

<p>The most popular front-end framework for developing

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1497 "CVE-2016-10735 (Medium) detected in bootstrap-3.3.2.min.js"
## CVE-2016-10735 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootstrap-3.3.2.min.js</b></p></summary>

<p>The most popular front-end framework for developing responsive, mobile first projects on the web.</p>
<p>Library home page: <a href="https://cdnjs.cloud

[2020-12-04 20:50] whitesource-for-github-com[bot] opened #1498 "CVE-2019-11358 (Medium) detected in jquery-2.1.3.min.js"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-2.1.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">https://cdnjs.c

[2020-12-04 20:51] whitesource-for-github-com[bot] opened #1499 "CVE-2012-6708 (Medium) detected in jquery-1.8.3.min.js"
## CVE-2012-6708 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">https://cdnjs.cl

[2020-12-04 20:51] whitesource-for-github-com[bot] opened #1500 "CVE-2020-11023 (Medium) detected in multiple libraries"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.8.3.min.js</b>, <b>jquery-2.1.3.min.js</b>, <b>jquery-2.2.0.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.8.3.min.js</b></p></summary>

<p>JavaScript library for DOM operat

[2020-12-04 20:51] whitesource-for-github-com[bot] opened #1501 "CVE-2020-11022 (Medium) detected in multiple libraries"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.8.3.min.js</b>, <b>jquery-2.1.3.min.js</b>, <b>jquery-2.2.0.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.8.3.min.js</b></p></summary>

<p>JavaScript library for DOM operat

[2020-12-04 20:51] whitesource-for-github-com[bot] opened #1502 "CVE-2015-9251 (Medium) detected in multiple libraries"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>jquery-1.8.3.min.js</b>, <b>jquery-2.1.3.min.js</b>, <b>jquery-2.2.0.min.js</b></p></summary>
<p>

<details><summary><b>jquery-1.8.3.min.js</b></p></summary>

<p>JavaScript library for DOM operati

[2020-12-04 20:51] whitesource-for-github-com[bot] opened #1503 "CVE-2020-7656 (Medium) detected in jquery-1.8.3.min.js"
## CVE-2020-7656 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.8.3.min.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">https://cdnjs.cl

[2020-12-04 20:51] whitesource-for-github-com[bot] opened #1504 "CVE-2020-7751 (High) detected in pathval-1.1.0.tgz"
## CVE-2020-7751 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>pathval-1.1.0.tgz</b></p></summary>

<p>Object value retrieval given a string path</p>
<p>Library home page: <a href="https://registry.npmjs.org/pathval/-/pathval-1.1.0.tgz">https://registry.npmjs.org

[2020-12-05 04:00] automatekitbox commented on #1491
Seeing above issues while building. Please suggest

[2020-12-06 13:16] davidjgoss commented on #1491
Hey @automatekitbox, can you clarify if this is when building cucumber itself, or consuming it in a TypeScript project? If the latter would you be able to put a minimal repro up?

[2020-12-07 09:30] #1444 closed

[2020-12-09 12:58] nickgrealy opened #1507 "HTML formatter missing from 7.0.0-rc.0 ?"
Hi,

Version: `"@cucumber/cucumber": "7.0.0-rc.0"` (_package.json_)

When attempting to run `cucumber-js --format html:html-formatter.html`, I get the following error:

[code]

[Looking at the published source](https://unpkg.com/browse/@cucumber/cucumber@7.0.0-rc.0/lib/formatter/builder.js), there is no option for `html` in the switch statement - so it falls back to assuming `html` is a custom for

[2020-12-09 13:38] nickgrealy commented on #1507
It's not in the 7.0.0-rc.0 release... I jumped the gun. => [In since been committed...](https://github.com/cucumber/cucumber-js/compare/v7.0.0-rc.0...master)

[2020-12-09 13:38] #1507 closed

[2020-12-09 16:39] charlierudolph commented on #1437
I'm good removing it. I think the main use case was just to give a demo

[2020-12-09 17:18] charlierudolph commented on #1492
Closing as duplicate of #1497 (different CVE but related to same libraries)

[2020-12-09 17:18] #1492 closed

[2020-12-09 17:19] charlierudolph commented on #1493
Closing as duplicate of #1497 (different CVE but related to same libraries)

[2020-12-09 17:19] #1493 closed

[2020-12-09 17:19] charlierudolph commented on #1494
Closing as duplicate of #1497 (different CVE but related to same libraries)

[2020-12-09 17:19] #1494 closed

[2020-12-09 17:19] charlierudolph commented on #1495
Closing as duplicate of #1497 (different CVE but related to same libraries)

[2020-12-09 17:19] #1495 closed

[2020-12-09 17:19] charlierudolph commented on #1496
Closing as duplicate of #1497 (different CVE but related to same libraries)

[2020-12-09 17:19] #1496 closed

[2020-12-09 17:20] charlierudolph commented on #1499
Closing as duplicate of #1503 (different CVE but related to same libraries)

[2020-12-09 17:20] #1499 closed

[2020-12-09 17:21] charlierudolph commented on #1502
Closing as duplicate of #1498 and #1503 (different CVE but related to same libraries)

[2020-12-09 17:21] #1502 closed

[2020-12-09 17:21] charlierudolph commented on #1500
Closing as duplicate of #1498 and #1503 (different CVE but related to same libraries)

[2020-12-09 17:21] #1500 closed

[2020-12-09 17:21] charlierudolph commented on #1501
Closing as duplicate of #1498 and #1503 (different CVE but related to same libraries)

[2020-12-09 17:21] #1501 closed

[2020-12-09 17:29] charlierudolph commented on #1503
@aslakhellesoy heads up appears this issue pops up via the dependency chain

@cucumber/html-formatter > @cucumber/react > elasticlunr

[2020-12-14 16:50] kamarkiewicz opened #1511 "Regression introduced with commander update (v6)"
https://github.com/cucumber/cucumber-js/pull/1472 seem to introduce regression for `--format-options` flag. It should handle JSON input, i.e. `--format-options {"scenarioAsStep": false}`, but after the version change I couldn't find a way to pass the custom options to CLI.

[2020-12-14 18:28] davidjgoss commented on #1511
@kamarkiewicz could you confirm which version of cucumber you're running? The change you mention isn't released yet.

[2020-12-14 21:58] kamarkiewicz commented on #1511
Sure, I just checked out `@cucumber/cucumber` 7.0.0-rc.0 today.

[2020-12-14 22:22] #1511 closed

[2020-12-16 14:15] jbpros commented on #1406
We're also in the process of [removing browser support](https://github.com/cucumber/cucumber-js/pull/1508).

@wa-citadel can you tell us a bit more about your needs behind such a web interface to Cucumber.js? What problem are you trying to solve?

[2020-12-17 15:33] #1437 closed

[2020-12-17 16:01] wa-citadel commented on #1406
yes, sure.

Imagine a well-tested financial or trading system using cucumber and BDD with reusable test steps.
It would be great if let's say a regulatory manager would be able to add new cases and scenarios using already established working steps. Similar to what I can do in WebStorm/IntelliJ with IntelliSense and autocomplete. How great it would be If anyone can write scenarios and reuse steps,

[2020-12-18 19:28] davidjgoss opened #1513 "ci tooling change?"
See:

- https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
- https://blog.travis-ci.com/oss-announcement

Travis is looking like slightly shaky ground now.

Is it worth giving GitHub Actions a try?

cc @charlierudolph @aslakhellesoy

[2020-12-18 20:42] aslakhellesoy commented on #1513
Yes - let’s move to GitHub Actions. We discussed this in the [weekly meeting](https://docs.google.com/document/d/1ewOKjaK5F17pwv7wtiaBFWCdzHQBXqQMCxqkwWKVmX8/edit) on 10th dec too

[2020-12-18 21:04] aslakhellesoy commented on #1503
It’s a false positive. The vulnerable jquery is only used in elasticlunr’s html docs.

[2020-12-18 21:04] #1503 closed

[2020-12-20 16:55] charlierudolph commented on #1497
Opened an issue of `knuth-shuffle-seeded` for this and the usage is limited to a demo page

[2020-12-20 16:55] #1497 closed

[2020-12-20 16:56] charlierudolph commented on #1498
Opened an issue of `knuth-shuffle-seeded` for this and the usage is limited to a demo page

[2020-12-20 16:56] #1498 closed

[2020-12-21 09:11] davidjgoss commented on #1504
See https://github.com/chaijs/pathval/pull/57

[2020-12-21 11:45] davidjgoss commented on #1513
Okay, [we have a workflow](https://github.com/cucumber/cucumber-js/blob/master/.github/workflows/test.yml) in now that tests with our supported Node versions on Linux and Windows. That covers most of what we were doing with Travis and Appveyor.

The only other thing is coverage. Right now we run with coverage on Node 14 but don't seem to do anything with the result.

[2020-12-21 11:48] davidjgoss commented on #1513
I see https://coveralls.io/ used a lot in other open source projects.

[2020-12-21 13:38] jbpros commented on #745
I've hacked together [cucumber-fp](https://github.com/jbpros/cucumber-fp) that offers functional step definitions. I've got a few improvement ideas already. Feedback welcome!

I suggest we close this issue and let people experiment with that small lib. Maybe one day we can bring it into Cucumber.js.

[2020-12-21 18:03] davidjgoss commented on #1395
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. Thanks!

[2020-12-21 18:03] #1395 closed

[2020-12-21 18:04] davidjgoss commented on #1369
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. Thanks!

[2020-12-21 18:04] #1369 closed

[2020-12-21 18:04] davidjgoss commented on #1264
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. Thanks!

[2020-12-21 18:04] #1264 closed

[2020-12-21 18:04] davidjgoss commented on #1202
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. Thanks!

[2020-12-21 18:04] #1202 closed

[2020-12-21 18:05] davidjgoss commented on #1117
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. Thanks!

[2020-12-21 18:05] #1117 closed

[2020-12-21 18:05] davidjgoss commented on #1098
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. Thanks!

(The docs now point to the messages formatter and related content.)

[2020-12-21 18:05] #1098 closed

[2020-12-21 18:06] davidjgoss commented on #1077
7.0.0 is now released, see [the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md) for migration instructions. This includes the latest Gherkin which includes a fix for this issue. Thanks!

[2020-12-21 18:06] #1077 closed

[2020-12-21 21:20] travi opened #1516 "new unsatisfied peer dependencies with latest verion"
i've been receiving renovate PRs for the new v7 in some of my projects now that you've promoted it to latest. i had upgraded a few of my projects to the prerelease of v7 already without issue.

however, i'm now seeing some new failures due to unsatisfied peer dependencies with the new version. you can see an example of this in [this build output](https://github.com/form8ion/add-package-to-monorepo

[2020-12-22 09:28] davidjgoss commented on #1516
Thanks for raising @travi

These React-related dependencies come via our HTML formatter and some React libraries it uses.

[code]

There's already a PR merged to allow React 17 for `react-accessible-accordion` here https://github.com/springload/react-accessible-accordion/pull/307 so hopefully that'll get released shortly and we can bring that in.

[code]

This seems like a mistake to me, I'll rais

[2020-12-22 14:08] mmajkafmp opened #1517 "Custom TeamCity formatter is no longer working with version 7.0.0"
We are using a custom TeamCity formatter for our BDD tests which is defined in the `bdd/formatters/cucumber-teamcity-formatter.js` file in the repository.

Since the upgrade of the Cucumber version from `7.0.0-rc.0` to `7.0.0` we started getting an error when running it:

[code]

The command used is `cucumber-js --format bdd/formatters/cucumber-teamcity-formatter --require 'bdd/**/*.js' bdd/featur

[2020-12-22 14:33] davidjgoss commented on #1517
Thanks for raising @mmajkafmp

One of the changes in 7.0.0 is to how you express paths to formatters. Now, any string that doesn't start with "./" will be treated like a module descriptor and `require`'d - I think in your case you just need to change to

[code]

Let me know how that goes.

[2020-12-22 14:33] travi commented on #1516
sounds great. thanks a lot for digging in on this :)

[2020-12-22 15:09] mmajkafmp commented on #1517
Yes, @davidjgoss. That worked! It might be a good idea to update the documentation on that. Thanks!

[2020-12-23 09:46] binarymist commented on #1489
Hi @davidjgoss ... Any update? Would love to be able to close this (https://gitlab.com/purpleteam-labs/purpleteam/-/issues/25) issue.
Thanks.

[2020-12-23 15:27] davidjgoss commented on #1513
@charlierudolph how do you feel about adding coveralls?

[2020-12-23 19:32] charlierudolph commented on #1513
Coverage is currently sent to coveralls but not reported on PRs. I'm good with adding coveralls and getting visibility for it on PRs

[2020-12-29 16:52] jan-molak opened #1519 "[bug] Incorrect type for messages.ITimestamp"
Hey team!

Cucumber Messages protocol requires `Duration.seconds` to be represented as [int64](https://github.com/cucumber/messages-javascript/blob/831d27f2bc0236d66bf243d9d72bed4f457f8207/messages.proto#L118). This means that when the type is serialised to JSON, it is represented as `string`.

For example:
[code]

Note that `int32` `nanos` are represented as `number`, but `int64` `seconds` are re

[2020-12-31 14:21] Iliev88 opened #1520 "Guidelines for upgrade to cucumber 7?"
Hello,

any guidelines how to upgrade from cucumber 5.1.0 to @cucumber/cucumber 7.0.0?

[2020-12-31 21:35] Fryuni opened #1521 "Error when trying to publish reports: TypeError [ERR_INVALID_ARG_TYPE]: The "listener" argument must be of type function"
I got this error just by enabling `--publish`:

[code]

Doesn't prevent me from working at all. I just wanted to try the new reports feature, using the `--publish-quiet` to remove the banner works fine.

Using version `7.0.0`

[2021-01-01 19:48] hdorgeval opened #1529 "cannot skip a scenario anymore in v7"
In V6, to skip a scenario, I used a Before each scenario hook

[code]

This same code does not compile anymore in v7 with typescript:
[code]

What is the right way to skip a scenario in v7?

Thanks

[2021-01-02 01:17] jan-molak commented on #1529
I just came across the exact same issue. It seems to me that it's a problem with type definitions rather than the actual functionality which works the exact same way as it used to in v6.

@charlierudolph, would you mind checking if my understanding is correct?

In [`support_code_library_builder/types.ts`](https://github.com/cucumber/cucumber-js/blob/4ec4a98413488d6f516b735277a001b783806e5b/src/sup

[2021-01-02 09:47] hdorgeval commented on #1529
Hi @jan-molak , thank you very much for your feedback, your workaround works perfectly !

[2021-01-02 10:10] hdorgeval opened #1530 "Integrated HTML reporter - Background steps should not be marked as skipped when the feature is a mix of passed and skipped scenarios"
This is just a feedback on the integrated HTML steps.
Below is a screenshot of the html report of a feature that contains passed and skipped scenarios:
You can notice that the background steps are marked as skipped, though they run successfully at least one time:

![Screen Shot 2021-01-02 at 11 05 30](https://user-images.githubusercontent.com/9698924/103455135-902f2880-4cea-11eb-96d7-ee29109f753f.

[2021-01-02 11:50] davidjgoss commented on #1530
Thanks for raising @hdorgeval - going to transfer this to the main cucumber repo where the code for this formatter lives (looks like a valid issue to me though).

[2021-01-02 11:53] davidjgoss commented on #1529
Thanks for the workaround @jan-molak  - I'll take a look at this one shortly.

[2021-01-02 11:56] davidjgoss commented on #1520
Hi @Iliev88, we have a [migration guide in the changelog](https://github.com/cucumber/cucumber-js/blob/master/CHANGELOG.md#migration-guide), this should help with at least 6 -> 7. I'd recommend first doing 5 -> 6 and looking further back in the changelog for a steer on that. IIRC the main change there was around the introduction of the retry mechanism.

I'll keep this issue open as I think we shou

[2021-01-02 20:34] davidjgoss opened #1532 "compilation issues with typescript"
When compiling a TypeScript project using v7 with this pretty standard `tsconfig.json`:

[code]

We see these two compilation errors:

[code]

This can be easily worked around by adding `esModuleInterop` and `resolveJsonModule` compiler options, but it'd be better if we didn't have to.

- [x] Remove need for `esModuleInterop`
- [ ] Remove need for `resolveJsonModule`
- [ ] Remove need for `@types/

[2021-01-03 00:28] davidjgoss commented on #1519
So as I understand it there's a distinction between how the value is serialised to NDJSON (as a string, like you say) vs how protobufjs wants to realise that value in JavaScript (as a Long, if it can, and a plain number otherwise).

Worth checking with @aslakhellesoy about the broader direction here, because I know there was some discussion about switching to the "minimal" protobufjs library that

[2021-01-03 00:39] davidjgoss commented on #1521
Hi @Fryuni, are you still seeing this issue, and if so are you able to link to a repository where I can reproduce it?

I am able to publish reports successfully in [this small example project](https://github.com/davidjgoss/cucumber-puppeteer-typescript-starter) with:

[code]

[2021-01-03 02:31] jan-molak commented on #1532
@davidjgoss I agree, this is problematic because any project that depends on `@cucumber/cucumber` will now have to enable those two flags. I'd prefer to avoid having to do it, if possible.

`esModuleInterop` could be avoided by using:
[code]
instead of:
[code]

And since the only reason to use `resolveJsonModule` seems to be to read the version of the `@cucumber/cucumber` module, perhaps `require`

[2021-01-03 22:34] #1513 closed

[2021-01-04 00:25] jan-molak commented on #1532
@davidjgoss - I've just noticed the same issue with `resolveJsonModule` present in `@cucumber/cucumber-messages`:

[code]

[2021-01-04 02:06] jan-molak commented on #1519
Yeah, I think so. Also, the protobuf library used seems to generate other invalid types, like `Long`:

[code]

This causes the following compilation issue:
[code]

A workaround (a.k.a. nasty hack ;-) ) is to enable `skipLibCheck` in any project that depends on `@cucumber/messages`.

[2021-01-04 08:16] Iliev88 commented on #1520
Hi @davidjgoss Thanks for replying.
I'd read the migration guide once I opened the current ticket.
I've tried to migrate from  5 -> 6 and then to 7 but still I can see problems.

My issue is when I am declaring @cucumber/cucumber module then I can't use properties under world interface.

`declare module "@cucumber/cucumber" {
  interface World {
    loginPage: LoginPage;
   }
}`

![image](https://

[2021-01-04 08:46] davidjgoss commented on #1520
`World` is a class not an interface - I think it was maybe an interface in the old DefinitelyTyped typings.

If you have a custom world you can just extend `World` like:

[code]

I'll add this to the section about TypeScript, thanks for raising.

[2021-01-04 16:19] charlierudolph commented on #1513
Thanks for doing this @davidjgoss. I just disabled the appveyor project so that should stop triggering builds

[2021-01-04 19:06] aslakhellesoy commented on #1513
Thanks a lot for doing this @davidjgoss

[2021-01-05 13:33] davidjgoss opened #1534 "some messages emitted with absolute uris"
The message output from cucumber-js contains a mixture of absolute and relative uris. The ones with absolute are the ones from Gherkin:

- `source`
- `gherkinDocument`
- `pickle`

Step definitions and hooks by contrast have relative uris.

Example message output (some removed for brevity):

[code]

The absolute uris aren't great on the HTML formatter output:

![image](https://user-images.githubuse

[2021-01-05 15:43] charlierudolph commented on #1534
For short term, we could update our code to transition absolute to relative paths but I think it probably makes sense to do this in gherkin (maybe allow passing in a root dir that paths will be relative to)

[2021-01-05 15:57] davidjgoss commented on #1534
Yeah I see, could add a `cwd` to `IGherkinOptions`

FWIW did a quick experiment with just passing the relative paths to Gherkin, it seems to work correctly with manual testing but many feature tests fail
https://github.com/cucumber/cucumber-js/compare/relative-uris

[2021-01-06 00:22] jan-molak opened #1535 "Expose max retries to formatters"
Hey @davidjgoss and @charlierudolph!

Would it be possible to make the information about the max number of retries specified via [`--retry`](https://github.com/cucumber/cucumber-js/blob/master/features/retry.feature) parameter available to Cucumber formatters?

At the moment Cucumber messages provide information about the **current** `attempt` number, for example:
[code]

However, they don't tell

[2021-01-11 16:01] ninjabhishek opened #1536 "why does cucumber require react for angular app?"
I am using angular 9 and migrating to 11. V7.0.0 of cucumber seems to have internal chained dependencies requiring react, with some peer dependencies asking for react. Why is that the case when I want to use it in Angular?

Can someone list me down the list of dependencies to have in Angular (all latest) if my question is not really an issue?

[2021-01-11 23:00] davidjgoss commented on #1536
Thanks for raising @ninjabhishek. This is because our built-in HTML formatter uses React. However, since the formatter is a separate package and bundles React etc via webpack, we should be able to change to a dev dependency without issue.

We'll fix this in a patch release soon; in the meantime this should have no impact on your Angular app.

[2021-01-13 12:16] fmagaldea opened #1537 "[doc] Improve V7 migration guide regarding hook "After" result"
Hi,

During the migration of my project from V6 to V7, I found at least 2 breaking changes in the hook "After".

Considering the code
[code]

, then I detected the following 2 changes:
* V6 `scenario.result.retried` > in V7 this boolean was renamed to `scenario.result.willBeRetried`
* V6 `scenario.result.status` was previously a string, which value could be for example `failed` > in V7 is now a nu

[2021-01-14 05:37] VivekLande opened #1538 "How to import 'pickle' and 'event' in Cucumber V7?"
Hi,

I am migrating cucumber from V6 to V7. In V7 you have removed @type/cucumber from where in V6 we were importing 'pickle' and 'event' object which is not a case in V7.  I can't find exports for these objects and many others.

Could you please suggest?

Thank you.

[2021-01-14 18:30] christian-bromann commented on #1491
@davidjgoss it's when using Cucumber in a TS project. Running into the same issues but struggle to create a minimal reproducible example. My workaround is to [load the long module](https://github.com/webdriverio/webdriverio/blob/cb-typing-cleanup/packages/wdio-cucumber-framework/src/index.ts#L40-L44) so it is loaded by TS.

[2021-01-15 15:05] squarebraket opened #1539 "Data Tables not recognizing last row"
Cucumber-js: 7.0.0
Node: v14.5.0
MacOs: 11.1 (Big Sur)

I created the following feature:
[code]
and the following "step" in Javascript
[code]
But I got the following error:

I had to add yet another column to my table for it to work, like this:
[code]

Does anybody see what could be my mistake?
Thanks

[2021-01-15 15:13] davidjgoss commented on #1539
@squarebraket I think you need to add the lines on the right hand side of the table for the last column to be recognised. So like:

[code]

[2021-01-15 15:17] squarebraket commented on #1539
Thanks, @davidjgoss I missed that in the documentation, I didn't read it carefully.

[2021-01-15 15:58] VivekLande commented on #1538
Hello,

Can someone please help and suggest?

[2021-01-15 18:45] davidjgoss commented on #1539
@squarebraket no problem!

[2021-01-15 18:45] #1539 closed

[2021-01-16 15:27] VivekLande commented on #1326
any resolution for this issue, I am getting this error with Cucumber 7

[2021-01-18 13:48] jwisbeck commented on #1304
there has to be a better way to do this

[2021-01-18 15:03] VivekLande opened #1544 "Running cucumber-js 7.0 test generates error "formatter.finished is not a function"
On The execution of scenarios, Cucumber 7 end with throwing below error
Series 1 then executed
Series 2 when executed
Series 2 then executed
fail when executed
Series 1 when executed
Series 1 then executed
Series 2 when executed
Series 2 then executed
fail when executed
6 scenarios (6 passed)
10 steps (10 passed)
0m00.067s (executing steps: 0m00.049s)
[20:23:37] E/launcher - Error: TypeError: form

[2021-01-18 15:30] #1429 closed

[2021-01-18 17:43] hdorgeval opened #1545 "Feedback on creating/testing a custom formatter for cucumber-js v7"
I am currently developing a custom formatter [cucumber-console-formatter](https://github.com/hdorgeval/cucumber-console-formatter).

It appears that testing a custom formatter written in typescript requires to copy/paste/arrange `cucumber-js` code from various files:

- [formatter_helpers.ts](https://github.com/cucumber/cucumber-js/blob/master/test/formatter_helpers.ts)

- [json_formatter_spec.ts]

[2021-01-18 17:51] davidjgoss commented on #1544
Hey @VivekLande - do you have any custom formatters in your project? If so do they extend the built-in Formatter class?

[2021-01-18 23:09] andyearnshaw commented on #745
@jbpros I'd prefer not to have to install yet another dependency just so I can use arrow functions in my tests.

This should actually be really simple for everyone to implement themselves. The following code snippet works pretty well (functionally) for me, with a huge caveat that makes it unusable:

[code]

That caveat being every single step definition now logs the following error because of the

[2021-01-19 02:25] jan-molak commented on #1545
I've recently worked on adding [support for Cucumber 7](https://serenity-js.org/handbook/integration/serenityjs-and-cucumber.html) to [Serenity/JS](https://serenity-js.org) and its [`ConsoleReporter`](https://serenity-js.org/handbook/reporting/console-reporter.html). During this exercise, I've learnt that some of the helper functions you mention, @hdorgeval, can be imported this way:

[code]

Ther

[2021-01-19 05:59] VivekLande commented on #1544
Yes, I am using custom formatters but hadn't extended to a built-in class, post your comment, I tried the way and the issue solved.
Thanks. closing the issue.

[2021-01-19 05:59] #1544 closed

[2021-01-19 10:12] jbpros commented on #745
@andyearnshaw thanks for your input, I hear your concern about a dependency "just for arrow functions in stepdefs". This library is basically the solution I use personally to get stateless step defs, I just packaged it for anyone interested out there.

Consider it as a temporary solution around the ongoing debate for such a pure stepdef API in core (it's been going on for more than 4 years, believ

[2021-01-19 14:22] andyearnshaw commented on #745
@jbpros that's great, and I really do appreciate the effort you have put in there. I was more in disagreement with the sentiment that this issue should be closed. I'll take a look at your library and see if it helps me work around that annoying check. 🙂

[2021-01-19 20:52] hdorgeval commented on #1545
Hi @jan-molak, thank you for your feedback. You are absolutely right, cucumber brings a great doc and helpers to write your own custom formatter.

My point was more about having equivalent helpers for the testing part.

[2021-01-19 21:34] hdorgeval opened #1546 "[docs] Custom Formatters doc mentions a deprecated formatter"
Hello Cucumber team,

Unless I am wrong, it seems to me that the [Extending Built-Ins section](https://github.com/cucumber/cucumber-js/blob/master/docs/custom_formatters.md#extending-built-ins) in `custom_formatters.md` mentions that `PrettyFormatter` inherits from `SummaryFormatter` , but I do not see any builtin `Pretty` formatter in the v7 code base.

[2021-01-20 00:18] davidjgoss commented on #1546
Good spot @hdorgeval, thanks for raising. I've fixed this under #1540.

In the meantime we do now have an [official pretty formatter](https://www.npmjs.com/package/@cucumber/pretty-formatter) available as a separate package, if you're interested in trying it out.

[2021-01-20 00:59] davidjgoss commented on #1326
@stefdelec @VivekLande this is likely related to either

- your steps package depending on a different version of cucumber than your host project
- working locally with your steps package `npm link`'d

In either case you can end up with two different cucumber-js instances at runtime which can cause this.

I'm working on documenting this in #1540 - take a look at [the workaround](https://github.com

[2021-01-20 01:04] davidjgoss commented on #1491
Closing as a duplicate of #1519 - we'll definitely get this addressed there.

[2021-01-20 01:04] #1491 closed

[2021-01-20 06:06] VivekLande commented on #1326
Thanks @davidjgoss, I am able to resolved the issue with the solution provided by you.

[2021-01-20 06:33] #1326 closed

[2021-01-20 06:33] #1517 closed

[2021-01-20 06:33] #1520 closed

[2021-01-20 06:33] #1546 closed

[2021-01-20 12:35] hdorgeval commented on #1546
Hi @davidjgoss , thank you for your feedback. I am very glad to know about this new official pretty formatter.
I will try it asap.

[2021-01-20 14:25] jan-molak opened #1547 "World parameters available in BeforeAll / AfterAll hooks?"
Hi team!

Now that Cucumber.js has `BeforeAll` and `AfterAll` hooks, would it make sense to expose world parameters to them?

[code]

Consider the following use case:
- Cucumber test suite interacts with a system that's deployed to multiple environments, each with its own URL
- I'd like the test suite to be configurable to point to any of those environments, ideally using a parameter when invoking

[2021-01-21 13:00] renovate[bot] opened #1548 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `^*.gemspec`
Error type: Invalid regular expression: ^*.gemspec

[2021-01-24 19:12] hdorgeval opened #1550 "HTML Formatter: Couldn't display image/png;base64 image because it wasn't base64 encoded"
Given I am attaching a base64-encoded image with the following code:

[code]
When I am using the internal HTML Formatter in cucumber-js v7
And I display the generated html file
Then I see this message `Couldn't display image/png;base64 image because it wasn't base64 encoded` instead of seing the image.

My analysis:

The HTML formatter needs to have a content encoding set to `BASE64` in order to d

[2021-01-25 09:46] davidjgoss commented on #1550
Thanks @hdorgeval, working on this.

[2021-01-25 10:00] Tallyb commented on #1547
I do something similar by using an env param `DB_URL=XXXX cucumber-js ...` and storing it on global.

[2021-01-25 10:08] davidjgoss commented on #1547
Hey @jan-molak, this seems to overlap quite a bit with #1393 - hope you're fine with me closing this so we can perhaps restart that discussion there?

[2021-01-25 10:08] #1547 closed

[2021-01-25 10:13] davidjgoss commented on #1393
Another vote for `BeforeAll` and `AfterAll` having world parameters via #1547. The use case for getting urls etc from world parameters in order to do setup seems reasonable (I could do with this too).

@charlierudolph returning to your proposal above, only thing that gives me pause is that it could be an easy way for users to start having scenarios depend on each other by sharing state in that tes

[2021-01-25 10:28] davidjgoss commented on #1321
Hi @pittgoose, with v7.0.0 the events model is quite different, using the common standard [cucumber-messages](https://github.com/cucumber/cucumber/tree/master/messages).

`Before` and `After` hooks now emit both `testStepStarted` and `testStepFinished` events. `BeforeAll` and `AfterAll` hooks don't have a dedicated event though.

Could you elaborate on the use case for this?

[2021-01-25 11:30] hdorgeval opened #1551 "--format-options '{"colorsEnabled": false}' does not apply on error messages"
Hello Cucumber Team,

Yet another issue related to displaying error messages with the internal HTML formatter:

Given I disable colors on the CLI with `--format-options '{"colorsEnabled": false}'`
When a step fails
Then all logs are uncolored
But the Error message still uses `Chalk` red/green colors
Example in the console:
![Screen Shot 2021-01-25 at 12 04 28](https://user-images.githubusercontent

[2021-01-25 11:45] davidjgoss commented on #1551
@hdorgeval I’m struggling to see how this relates to the html formatter - this is a console output issue?

[2021-01-25 12:02] hdorgeval commented on #1551
Hi @davidjgoss, the problem i described has almost no impact when  the formatter outputs to the console.

But it has a great impact when the preferred formatter is the html formatter as, in this case, error messages are unreadable.

My point is that error messages are, at some point, handled by `Chalk` and there is no way to configure `Chalk` behavior from the cucumber-js command-line options, as